<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0101</key>
    <string>uni0101.glif</string>
    <key>uni0113</key>
    <string>uni0113.glif</string>
    <key>uni011B</key>
    <string>uni011B_.glif</string>
    <key>uni012B</key>
    <string>uni012B_.glif</string>
    <key>uni0144</key>
    <string>uni0144.glif</string>
    <key>uni014D</key>
    <string>uni014D_.glif</string>
    <key>uni016B</key>
    <string>uni016B_.glif</string>
    <key>uni01D0</key>
    <string>uni01D_0.glif</string>
    <key>uni01D6</key>
    <string>uni01D_6.glif</string>
    <key>uni01D6.hwid</key>
    <string>uni01D_6.hwid.glif</string>
    <key>uni01D8.hwid</key>
    <string>uni01D_8.hwid.glif</string>
    <key>uni01DA</key>
    <string>uni01D_A_.glif</string>
    <key>uni01DC</key>
    <string>uni01D_C_.glif</string>
    <key>uni01F9</key>
    <string>uni01F_9.glif</string>
    <key>uni0251</key>
    <string>uni0251.glif</string>
    <key>uni2014</key>
    <string>uni2014.glif</string>
    <key>uni20AC.fwid</key>
    <string>uni20A_C_.fwid.glif</string>
    <key>uni3025</key>
    <string>uni3025.glif</string>
    <key>uni3026</key>
    <string>uni3026.glif</string>
    <key>uni3041.vert</key>
    <string>uni3041.vert.glif</string>
    <key>uni3043.vert</key>
    <string>uni3043.vert.glif</string>
    <key>uni3047.vert</key>
    <string>uni3047.vert.glif</string>
    <key>uni3088</key>
    <string>uni3088.glif</string>
    <key>uni308E</key>
    <string>uni308E_.glif</string>
    <key>uni30B8</key>
    <string>uni30B_8.glif</string>
    <key>uni30B9</key>
    <string>uni30B_9.glif</string>
    <key>uni30BA</key>
    <string>uni30B_A_.glif</string>
    <key>uni30BB</key>
    <string>uni30B_B_.glif</string>
    <key>uni30BC</key>
    <string>uni30B_C_.glif</string>
    <key>uni30BD</key>
    <string>uni30B_D_.glif</string>
    <key>uni30BE</key>
    <string>uni30B_E_.glif</string>
    <key>uni30BF</key>
    <string>uni30B_F_.glif</string>
    <key>uni30C0</key>
    <string>uni30C_0.glif</string>
    <key>uni30C1</key>
    <string>uni30C_1.glif</string>
    <key>uni30C2</key>
    <string>uni30C_2.glif</string>
  </dict>
</plist>
