<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>880</integer>
    <key>capHeight</key>
    <integer>733</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Flex Sans GB Project Authors (https://gitee.com/NightFurySL2001/flex-sc)</string>
    <key>descender</key>
    <integer>-120</integer>
    <key>familyName</key>
    <string>Flex Sans GB</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Btype</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>847</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>f2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>835</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Atype</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>835</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>f6</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>803</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Ctype</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>803</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>f1</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-10</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Ctype</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-43</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>f9</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-43</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Atype</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-75</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>f3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-75</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Btype</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-87</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Btype</string>
        <key>x</key>
        <integer>967</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Atype</string>
        <key>x</key>
        <integer>955</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>f5</string>
        <key>x</key>
        <integer>955</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Ctype</string>
        <key>x</key>
        <integer>924</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>f7</string>
        <key>x</key>
        <integer>923</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Optical Center</string>
        <key>x</key>
        <integer>492</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>f8</string>
        <key>x</key>
        <integer>77</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Ctype</string>
        <key>x</key>
        <integer>76</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Atype</string>
        <key>x</key>
        <integer>45</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>f4</string>
        <key>x</key>
        <integer>45</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Btype</string>
        <key>x</key>
        <integer>33</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>openTypeHheaAscender</key>
    <integer>1060</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-440</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.maoken.com</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>323</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>60</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>880</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-120</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>NFSL</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1060</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>440</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-14</integer>
      <integer>0</integer>
      <integer>-14</integer>
      <integer>0</integer>
      <integer>777</integer>
      <integer>793</integer>
      <integer>733</integer>
      <integer>747</integer>
      <integer>541</integer>
      <integer>555</integer>
      <integer>387</integer>
      <integer>407</integer>
    </array>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>339</integer>
      <integer>345</integer>
      <integer>-135</integer>
      <integer>-120</integer>
      <integer>-243</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>60</integer>
      <integer>74</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>80</integer>
      <integer>84</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-125</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>60</integer>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>541</integer>
  </dict>
</plist>
