sources/frex-sc-han
sources/FrexSansGBVF/instance_ufos
sources/FrexSansGBVF/Frex Sans GB VF latin*.designspace
build.ninja
.ninja_log
*.backup
*.ttx

# python specific
.env
.venv
env
venv
*.pyc
__pycache__
