# build sequence
gftools
fontmake
ufomerge
ufo2ft >= 3.6.2 # for correct processing of multilingual names in designspace

# modify lib with fontTools
lxml

# export RCJK to UFO
fontra @ git+https://github.com/fontra/fontra
fontra-rcjk @ git+https://github.com/fontra/fontra-rcjk
