<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>halt</key>
    <array>
      <string>uni3008</string>
      <string>uni3010</string>
      <string>uniFF5B</string>
      <string>uni300C</string>
      <string>uni300A</string>
      <string>uni3014</string>
      <string>uni300E</string>
      <string>uni3016</string>
      <string>uniFF3B</string>
      <string>uniFF08</string>
      <string>uni2018</string>
      <string>uni201C</string>
    </array>
    <key>halt2</key>
    <array>
      <string>uni2032</string>
      <string>uni2033</string>
      <string>uniFF0C</string>
      <string>uni3002</string>
      <string>uniFF1A</string>
      <string>uniFF01</string>
      <string>uniFF0E</string>
      <string>uniFF1F</string>
      <string>uniFF02</string>
      <string>uniFF07</string>
      <string>uniFF1B</string>
      <string>uni3009</string>
      <string>uni3011</string>
      <string>uniFF5D</string>
      <string>uni300D</string>
      <string>uni300B</string>
      <string>uni3015</string>
      <string>uni300F</string>
      <string>uni3017</string>
      <string>uniFF3D</string>
      <string>uniFF09</string>
      <string>uni3001</string>
      <string>uni2019</string>
      <string>uni201D</string>
      <string>uni00B0</string>
    </array>
    <key>palt</key>
    <array>
      <string>uni3002</string>
      <string>uni3009</string>
      <string>uni3011</string>
      <string>uni300D</string>
      <string>uni300B</string>
      <string>uni3015</string>
      <string>uni300F</string>
      <string>uni3017</string>
      <string>uni3001</string>
    </array>
    <key>public.kern1.L_A</key>
    <array>
      <string>uni0041</string>
    </array>
    <key>public.kern1.L_A-cy</key>
    <array>
      <string>uni0410</string>
    </array>
    <key>public.kern1.L_B</key>
    <array>
      <string>uni0042</string>
    </array>
    <key>public.kern1.L_Be-cy</key>
    <array>
      <string>uni0411</string>
    </array>
    <key>public.kern1.L_Beta</key>
    <array>
      <string>uni0392</string>
      <string>uni0392.fwid</string>
    </array>
    <key>public.kern1.L_C</key>
    <array>
      <string>uni0043</string>
    </array>
    <key>public.kern1.L_Chi</key>
    <array>
      <string>uni03A7.fwid</string>
    </array>
    <key>public.kern1.L_D</key>
    <array>
      <string>uni0044</string>
    </array>
    <key>public.kern1.L_De-cy</key>
    <array>
      <string>uni0414</string>
      <string>uni0426</string>
      <string>uni0429</string>
    </array>
    <key>public.kern1.L_Delta</key>
    <array>
      <string>uni0391.fwid</string>
      <string>uni0394.fwid</string>
      <string>uni039B.fwid</string>
    </array>
    <key>public.kern1.L_E</key>
    <array>
      <string>uni0045</string>
      <string>uni0395</string>
    </array>
    <key>public.kern1.L_Ef-cy</key>
    <array>
      <string>uni0424</string>
    </array>
    <key>public.kern1.L_Epsilon</key>
    <array>
      <string>uni0395.fwid</string>
      <string>uni039E</string>
      <string>uni039E.fwid</string>
    </array>
    <key>public.kern1.L_Er-cy</key>
    <array>
      <string>uni0420</string>
    </array>
    <key>public.kern1.L_Es-cy</key>
    <array>
      <string>uni0421</string>
    </array>
    <key>public.kern1.L_F</key>
    <array>
      <string>uni0046</string>
    </array>
    <key>public.kern1.L_G</key>
    <array>
      <string>uni0047</string>
    </array>
    <key>public.kern1.L_Gamma</key>
    <array>
      <string>uni0393</string>
      <string>uni0393.fwid</string>
    </array>
    <key>public.kern1.L_Ge-cy</key>
    <array>
      <string>uni0413</string>
    </array>
    <key>public.kern1.L_Ha-cy</key>
    <array>
      <string>uni0425</string>
    </array>
    <key>public.kern1.L_Hardsign-cy</key>
    <array>
      <string>uni042A</string>
      <string>uni042C</string>
    </array>
    <key>public.kern1.L_I</key>
    <array>
      <string>uni0049</string>
      <string>uni0399</string>
    </array>
    <key>public.kern1.L_Ie-cy</key>
    <array>
      <string>uni0401</string>
      <string>uni0415</string>
    </array>
    <key>public.kern1.L_Iota</key>
    <array>
      <string>uni0399.fwid</string>
    </array>
    <key>public.kern1.L_J</key>
    <array>
      <string>uni004A</string>
    </array>
    <key>public.kern1.L_K</key>
    <array>
      <string>uni004B</string>
      <string>uni039A</string>
    </array>
    <key>public.kern1.L_Kappa</key>
    <array>
      <string>uni039A.fwid</string>
    </array>
    <key>public.kern1.L_L</key>
    <array>
      <string>uni004C</string>
    </array>
    <key>public.kern1.L_O</key>
    <array>
      <string>uni004F</string>
      <string>uni0051</string>
      <string>uni039F</string>
    </array>
    <key>public.kern1.L_O-cy</key>
    <array>
      <string>uni041E</string>
      <string>uni042D</string>
      <string>uni042E</string>
    </array>
    <key>public.kern1.L_Ohm</key>
    <array>
      <string>uni03A9</string>
    </array>
    <key>public.kern1.L_Omega</key>
    <array>
      <string>uni03A9.fwid</string>
    </array>
    <key>public.kern1.L_P</key>
    <array>
      <string>uni0050</string>
      <string>uni03A1</string>
    </array>
    <key>public.kern1.L_Phi</key>
    <array>
      <string>uni03A6</string>
      <string>uni03A6.fwid</string>
    </array>
    <key>public.kern1.L_Psi</key>
    <array>
      <string>uni03A8</string>
      <string>uni03A8.fwid</string>
    </array>
    <key>public.kern1.L_R</key>
    <array>
      <string>uni0052</string>
    </array>
    <key>public.kern1.L_Rho</key>
    <array>
      <string>uni03A1.fwid</string>
    </array>
    <key>public.kern1.L_S</key>
    <array>
      <string>uni0053</string>
    </array>
    <key>public.kern1.L_Sigma</key>
    <array>
      <string>uni03A3</string>
      <string>uni03A3.fwid</string>
    </array>
    <key>public.kern1.L_T</key>
    <array>
      <string>uni0054</string>
      <string>uni03A4</string>
    </array>
    <key>public.kern1.L_Tau</key>
    <array>
      <string>uni03A4.fwid</string>
    </array>
    <key>public.kern1.L_Te-cy</key>
    <array>
      <string>uni0422</string>
    </array>
    <key>public.kern1.L_Theta</key>
    <array>
      <string>uni0398</string>
      <string>uni0398.fwid</string>
      <string>uni039F.fwid</string>
    </array>
    <key>public.kern1.L_U</key>
    <array>
      <string>uni0055</string>
    </array>
    <key>public.kern1.L_U-cy</key>
    <array>
      <string>uni0423</string>
    </array>
    <key>public.kern1.L_Upsilon</key>
    <array>
      <string>uni03A5.fwid</string>
    </array>
    <key>public.kern1.L_V</key>
    <array>
      <string>uni0056</string>
    </array>
    <key>public.kern1.L_Ve-cy</key>
    <array>
      <string>uni0412</string>
    </array>
    <key>public.kern1.L_W</key>
    <array>
      <string>uni0057</string>
    </array>
    <key>public.kern1.L_X</key>
    <array>
      <string>uni0058</string>
      <string>uni03A7</string>
    </array>
    <key>public.kern1.L_Y</key>
    <array>
      <string>uni0059</string>
      <string>uni03A5</string>
    </array>
    <key>public.kern1.L_Z</key>
    <array>
      <string>uni005A</string>
      <string>uni0396</string>
    </array>
    <key>public.kern1.L_Ze-cy</key>
    <array>
      <string>uni0417</string>
    </array>
    <key>public.kern1.L_Zeta</key>
    <array>
      <string>uni0396.fwid</string>
    </array>
    <key>public.kern1.L_Zhe-cy</key>
    <array>
      <string>uni0416</string>
      <string>uni041A</string>
    </array>
    <key>public.kern1.L_a</key>
    <array>
      <string>uni0061</string>
      <string>uni00E0</string>
      <string>uni00E1</string>
      <string>uni0101</string>
      <string>uni01CE</string>
    </array>
    <key>public.kern1.L_a-cy</key>
    <array>
      <string>uni0430</string>
    </array>
    <key>public.kern1.L_a-cy.alt01</key>
    <array>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni043B</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni044B</string>
      <string>uni044F</string>
    </array>
    <key>public.kern1.L_a-kata</key>
    <array>
      <string>uni30A2</string>
      <string>uni30DE</string>
    </array>
    <key>public.kern1.L_a.alt01</key>
    <array>
      <string>uni0061.alt01</string>
      <string>uni00F9</string>
      <string>uni00FC</string>
      <string>uni0251</string>
    </array>
    <key>public.kern1.L_alpha</key>
    <array>
      <string>uni03B1</string>
      <string>uni03B1.fwid</string>
    </array>
    <key>public.kern1.L_alpha-latin</key>
    <array>
      <string>uni00FA</string>
    </array>
    <key>public.kern1.L_alpha.alt01</key>
    <array>
      <string>uni03BC</string>
      <string>uni03BC.fwid</string>
    </array>
    <key>public.kern1.L_ampersand</key>
    <array>
      <string>uni0026</string>
    </array>
    <key>public.kern1.L_at</key>
    <array>
      <string>uni0040</string>
    </array>
    <key>public.kern1.L_b</key>
    <array>
      <string>uni0062</string>
      <string>uni0070</string>
    </array>
    <key>public.kern1.L_ba-hira</key>
    <array>
      <string>uni3070</string>
      <string>uni3071</string>
    </array>
    <key>public.kern1.L_ba-kata</key>
    <array>
      <string>uni30D0</string>
      <string>uni30D1</string>
    </array>
    <key>public.kern1.L_be-cy</key>
    <array>
      <string>uni0431</string>
      <string>uni043E</string>
      <string>uni044D</string>
      <string>uni044E</string>
    </array>
    <key>public.kern1.L_be-hira</key>
    <array>
      <string>uni3079</string>
      <string>uni307A</string>
    </array>
    <key>public.kern1.L_be-kata</key>
    <array>
      <string>uni30D9</string>
      <string>uni30DA</string>
    </array>
    <key>public.kern1.L_beta</key>
    <array>
      <string>uni03B2</string>
      <string>uni03B2.fwid</string>
    </array>
    <key>public.kern1.L_bi-hira</key>
    <array>
      <string>uni3073</string>
      <string>uni3074</string>
    </array>
    <key>public.kern1.L_bi-kata</key>
    <array>
      <string>uni30D3</string>
      <string>uni30D4</string>
    </array>
    <key>public.kern1.L_bo-hira</key>
    <array>
      <string>uni307C</string>
      <string>uni307D</string>
    </array>
    <key>public.kern1.L_bo-kata</key>
    <array>
      <string>uni30AC</string>
      <string>uni30B4</string>
      <string>uni30DC</string>
      <string>uni30DD</string>
    </array>
    <key>public.kern1.L_bracketleft</key>
    <array>
      <string>uni005B</string>
      <string>uni007B</string>
    </array>
    <key>public.kern1.L_bu-hira</key>
    <array>
      <string>uni3076</string>
      <string>uni3077</string>
    </array>
    <key>public.kern1.L_bu-kata</key>
    <array>
      <string>uni30B0</string>
      <string>uni30C0</string>
      <string>uni30D6</string>
      <string>uni30D7</string>
      <string>uni30F4</string>
      <string>uni30FA</string>
    </array>
    <key>public.kern1.L_c</key>
    <array>
      <string>uni0063</string>
    </array>
    <key>public.kern1.L_chi</key>
    <array>
      <string>uni03C7</string>
      <string>uni03C7.fwid</string>
    </array>
    <key>public.kern1.L_colon</key>
    <array>
      <string>uni003A</string>
      <string>uni003B</string>
    </array>
    <key>public.kern1.L_comma</key>
    <array>
      <string>uni2026</string>
    </array>
    <key>public.kern1.L_de-cy</key>
    <array>
      <string>uni0434</string>
      <string>uni0446</string>
      <string>uni0449</string>
    </array>
    <key>public.kern1.L_delta</key>
    <array>
      <string>uni03B4</string>
      <string>uni03B4.fwid</string>
    </array>
    <key>public.kern1.L_e</key>
    <array>
      <string>uni0065</string>
      <string>uni00E8</string>
      <string>uni00E9</string>
      <string>uni00EA</string>
      <string>uni0113</string>
      <string>uni011B</string>
    </array>
    <key>public.kern1.L_ef-cy</key>
    <array>
      <string>uni0444</string>
    </array>
    <key>public.kern1.L_epsilon</key>
    <array>
      <string>uni03B5</string>
      <string>uni03B5.fwid</string>
    </array>
    <key>public.kern1.L_er-cy</key>
    <array>
      <string>uni0440</string>
    </array>
    <key>public.kern1.L_es-cy</key>
    <array>
      <string>uni0441</string>
    </array>
    <key>public.kern1.L_esmall-kata</key>
    <array>
      <string>uni30A7</string>
      <string>uni30A9</string>
      <string>uni30E5</string>
      <string>uni30E7</string>
      <string>uni30F5</string>
    </array>
    <key>public.kern1.L_eta</key>
    <array>
      <string>uni03B7</string>
      <string>uni03B7.fwid</string>
    </array>
    <key>public.kern1.L_f</key>
    <array>
      <string>uni0066</string>
    </array>
    <key>public.kern1.L_g</key>
    <array>
      <string>uni0067</string>
    </array>
    <key>public.kern1.L_g.alt01</key>
    <array>
      <string>uni0261</string>
    </array>
    <key>public.kern1.L_gamma</key>
    <array>
      <string>uni03B3</string>
      <string>uni03B3.fwid</string>
      <string>uni03BD</string>
      <string>uni03BD.fwid</string>
    </array>
    <key>public.kern1.L_ge-cy</key>
    <array>
      <string>uni0433</string>
    </array>
    <key>public.kern1.L_ge-kata</key>
    <array>
      <string>uni30B6</string>
      <string>uni30C7</string>
    </array>
    <key>public.kern1.L_gi-kata</key>
    <array>
      <string>uni30AE</string>
    </array>
    <key>public.kern1.L_h</key>
    <array>
      <string>uni0068</string>
      <string>uni006D</string>
      <string>uni006E</string>
      <string>uni0144</string>
      <string>uni0148</string>
      <string>uni01F9</string>
      <string>uni1E3F</string>
    </array>
    <key>public.kern1.L_ha-cy</key>
    <array>
      <string>uni0445</string>
    </array>
    <key>public.kern1.L_ha-kata</key>
    <array>
      <string>uni30CF</string>
      <string>uni30E0</string>
    </array>
    <key>public.kern1.L_hardsign-cy</key>
    <array>
      <string>uni044A</string>
      <string>uni044C</string>
    </array>
    <key>public.kern1.L_he-kata</key>
    <array>
      <string>uni30C8</string>
      <string>uni30D8</string>
    </array>
    <key>public.kern1.L_ho-kata</key>
    <array>
      <string>uni30CD</string>
      <string>uni30DB</string>
      <string>uni30E2</string>
    </array>
    <key>public.kern1.L_hu-kata</key>
    <array>
      <string>uni30A6</string>
      <string>uni30AF</string>
      <string>uni30B7</string>
      <string>uni30BF</string>
      <string>uni30D5</string>
      <string>uni30E9</string>
      <string>uni30EF</string>
      <string>uni30F2</string>
      <string>uni30F3</string>
    </array>
    <key>public.kern1.L_hyphen</key>
    <array>
      <string>uni002D</string>
      <string>uni2013</string>
    </array>
    <key>public.kern1.L_i</key>
    <array>
      <string>uni0069</string>
      <string>uni00EC</string>
      <string>uni00ED</string>
      <string>uni012B</string>
      <string>uni01D0</string>
    </array>
    <key>public.kern1.L_ie-cy</key>
    <array>
      <string>uni0435</string>
      <string>uni0451</string>
    </array>
    <key>public.kern1.L_increment</key>
    <array>
      <string>uni0391</string>
      <string>uni0394</string>
      <string>uni039B</string>
    </array>
    <key>public.kern1.L_iota</key>
    <array>
      <string>uni03B9</string>
      <string>uni03B9.fwid</string>
    </array>
    <key>public.kern1.L_j</key>
    <array>
      <string>uni006A</string>
      <string>uni0071</string>
    </array>
    <key>public.kern1.L_k</key>
    <array>
      <string>uni006B</string>
    </array>
    <key>public.kern1.L_kappa</key>
    <array>
      <string>uni03BA</string>
      <string>uni03BA.fwid</string>
    </array>
    <key>public.kern1.L_ke-kata</key>
    <array>
      <string>uni30B1</string>
    </array>
    <key>public.kern1.L_l</key>
    <array>
      <string>uni006C</string>
    </array>
    <key>public.kern1.L_lambda</key>
    <array>
      <string>uni03BB</string>
      <string>uni03BB.fwid</string>
    </array>
    <key>public.kern1.L_me-kata</key>
    <array>
      <string>uni30CC</string>
      <string>uni30E1</string>
    </array>
    <key>public.kern1.L_ni-kata</key>
    <array>
      <string>uni30A8</string>
      <string>uni30CB</string>
      <string>uni30D2</string>
    </array>
    <key>public.kern1.L_no-hira</key>
    <array>
      <string>uni3064</string>
      <string>uni306C</string>
      <string>uni306D</string>
      <string>uni306E</string>
      <string>uni3081</string>
      <string>uni3086</string>
      <string>uni308A</string>
      <string>uni308F</string>
    </array>
    <key>public.kern1.L_no-kata</key>
    <array>
      <string>uni30BD</string>
      <string>uni30C4</string>
    </array>
    <key>public.kern1.L_o</key>
    <array>
      <string>uni006F</string>
      <string>uni00F2</string>
      <string>uni00F3</string>
      <string>uni014D</string>
      <string>uni01D2</string>
    </array>
    <key>public.kern1.L_omega</key>
    <array>
      <string>uni03C9</string>
      <string>uni03C9.fwid</string>
    </array>
    <key>public.kern1.L_omicron</key>
    <array>
      <string>uni03BF</string>
      <string>uni03BF.fwid</string>
    </array>
    <key>public.kern1.L_parenleft</key>
    <array>
      <string>uni0028</string>
    </array>
    <key>public.kern1.L_percent</key>
    <array>
      <string>uni0025</string>
    </array>
    <key>public.kern1.L_period</key>
    <array>
      <string>uni002C</string>
      <string>uni002E</string>
    </array>
    <key>public.kern1.L_period-han</key>
    <array>
      <string>uni3001</string>
      <string>uni3002</string>
    </array>
    <key>public.kern1.L_perthousand</key>
    <array>
      <string>uni2030</string>
    </array>
    <key>public.kern1.L_phi</key>
    <array>
      <string>uni03C6</string>
      <string>uni03C6.fwid</string>
    </array>
    <key>public.kern1.L_pi</key>
    <array>
      <string>uni03C0</string>
      <string>uni03C0.fwid</string>
    </array>
    <key>public.kern1.L_psi</key>
    <array>
      <string>uni03C8</string>
      <string>uni03C8.fwid</string>
    </array>
    <key>public.kern1.L_question</key>
    <array>
      <string>uni003F</string>
    </array>
    <key>public.kern1.L_quotesingle</key>
    <array>
      <string>uni0022</string>
      <string>uni0027</string>
      <string>uni002A</string>
    </array>
    <key>public.kern1.L_r</key>
    <array>
      <string>uni0072</string>
    </array>
    <key>public.kern1.L_registered</key>
    <array>
      <string>uni00AE</string>
    </array>
    <key>public.kern1.L_rho</key>
    <array>
      <string>uni03C1</string>
      <string>uni03C1.fwid</string>
    </array>
    <key>public.kern1.L_ro-kata</key>
    <array>
      <string>uni30AB</string>
      <string>uni30B3</string>
      <string>uni30E6</string>
      <string>uni30E8</string>
      <string>uni30ED</string>
    </array>
    <key>public.kern1.L_ru-hira</key>
    <array>
      <string>uni308B</string>
      <string>uni308D</string>
    </array>
    <key>public.kern1.L_s</key>
    <array>
      <string>uni0073</string>
    </array>
    <key>public.kern1.L_sa-kata</key>
    <array>
      <string>uni30B5</string>
    </array>
    <key>public.kern1.L_sigma</key>
    <array>
      <string>uni03C3</string>
      <string>uni03C3.fwid</string>
    </array>
    <key>public.kern1.L_slash</key>
    <array>
      <string>uni002F</string>
    </array>
    <key>public.kern1.L_t</key>
    <array>
      <string>uni0074</string>
    </array>
    <key>public.kern1.L_tau</key>
    <array>
      <string>uni03C4</string>
      <string>uni03C4.fwid</string>
    </array>
    <key>public.kern1.L_te-cy</key>
    <array>
      <string>uni0442</string>
    </array>
    <key>public.kern1.L_te-kata</key>
    <array>
      <string>uni30C1</string>
      <string>uni30C6</string>
    </array>
    <key>public.kern1.L_theta</key>
    <array>
      <string>uni03B8</string>
      <string>uni03B8.fwid</string>
    </array>
    <key>public.kern1.L_trademark</key>
    <array>
      <string>uni2122</string>
    </array>
    <key>public.kern1.L_tusmall-hira</key>
    <array>
      <string>uni3043</string>
      <string>uni3049</string>
      <string>uni3063</string>
      <string>uni3083</string>
      <string>uni3085</string>
      <string>uni308E</string>
      <string>uni3095</string>
    </array>
    <key>public.kern1.L_u</key>
    <array>
      <string>uni0075</string>
      <string>uni016B</string>
      <string>uni01D4</string>
      <string>uni01D6</string>
      <string>uni01D8</string>
      <string>uni01DA</string>
      <string>uni01DC</string>
    </array>
    <key>public.kern1.L_u-cy</key>
    <array>
      <string>uni0443</string>
    </array>
    <key>public.kern1.L_underscore</key>
    <array>
      <string>uni005F</string>
    </array>
    <key>public.kern1.L_uni0410</key>
    <array>
      <string>uni0410.fwid</string>
    </array>
    <key>public.kern1.L_uni0411</key>
    <array>
      <string>uni0411.fwid</string>
    </array>
    <key>public.kern1.L_uni0412</key>
    <array>
      <string>uni0412.fwid</string>
    </array>
    <key>public.kern1.L_uni0413</key>
    <array>
      <string>uni0413.fwid</string>
    </array>
    <key>public.kern1.L_uni0414</key>
    <array>
      <string>uni0414.fwid</string>
      <string>uni0426.fwid</string>
      <string>uni0429.fwid</string>
    </array>
    <key>public.kern1.L_uni0415</key>
    <array>
      <string>uni0401.fwid</string>
      <string>uni0415.fwid</string>
    </array>
    <key>public.kern1.L_uni0416</key>
    <array>
      <string>uni0416.fwid</string>
      <string>uni041A.fwid</string>
    </array>
    <key>public.kern1.L_uni0417</key>
    <array>
      <string>uni0417.fwid</string>
    </array>
    <key>public.kern1.L_uni041E</key>
    <array>
      <string>uni041E.fwid</string>
      <string>uni042D.fwid</string>
      <string>uni042E.fwid</string>
    </array>
    <key>public.kern1.L_uni0420</key>
    <array>
      <string>uni0420.fwid</string>
    </array>
    <key>public.kern1.L_uni0421</key>
    <array>
      <string>uni0421.fwid</string>
    </array>
    <key>public.kern1.L_uni0422</key>
    <array>
      <string>uni0422.fwid</string>
    </array>
    <key>public.kern1.L_uni0423</key>
    <array>
      <string>uni0423.fwid</string>
    </array>
    <key>public.kern1.L_uni0424</key>
    <array>
      <string>uni0424.fwid</string>
    </array>
    <key>public.kern1.L_uni0425</key>
    <array>
      <string>uni0425.fwid</string>
    </array>
    <key>public.kern1.L_uni042A</key>
    <array>
      <string>uni042A.fwid</string>
      <string>uni042C.fwid</string>
    </array>
    <key>public.kern1.L_uni0430</key>
    <array>
      <string>uni0430.fwid</string>
    </array>
    <key>public.kern1.L_uni0430.alt01</key>
    <array>
      <string>uni0438.fwid</string>
      <string>uni0439.fwid</string>
      <string>uni043B.fwid</string>
      <string>uni043C.fwid</string>
      <string>uni043D.fwid</string>
      <string>uni043F.fwid</string>
      <string>uni0447.fwid</string>
      <string>uni0448.fwid</string>
      <string>uni044B.fwid</string>
      <string>uni044F.fwid</string>
    </array>
    <key>public.kern1.L_uni0431</key>
    <array>
      <string>uni0431.fwid</string>
      <string>uni043E.fwid</string>
      <string>uni044D.fwid</string>
      <string>uni044E.fwid</string>
    </array>
    <key>public.kern1.L_uni0432</key>
    <array>
      <string>uni0432.fwid</string>
      <string>uni0437.fwid</string>
    </array>
    <key>public.kern1.L_uni0433</key>
    <array>
      <string>uni0433.fwid</string>
    </array>
    <key>public.kern1.L_uni0434</key>
    <array>
      <string>uni0434.fwid</string>
      <string>uni0446.fwid</string>
      <string>uni0449.fwid</string>
    </array>
    <key>public.kern1.L_uni0435</key>
    <array>
      <string>uni0435.fwid</string>
      <string>uni0451.fwid</string>
    </array>
    <key>public.kern1.L_uni0436</key>
    <array>
      <string>uni0436.fwid</string>
      <string>uni043A.fwid</string>
    </array>
    <key>public.kern1.L_uni0440</key>
    <array>
      <string>uni0440.fwid</string>
    </array>
    <key>public.kern1.L_uni0441</key>
    <array>
      <string>uni0441.fwid</string>
    </array>
    <key>public.kern1.L_uni0442</key>
    <array>
      <string>uni0442.fwid</string>
    </array>
    <key>public.kern1.L_uni0443</key>
    <array>
      <string>uni0443.fwid</string>
    </array>
    <key>public.kern1.L_uni0444</key>
    <array>
      <string>uni0444.fwid</string>
    </array>
    <key>public.kern1.L_uni0445</key>
    <array>
      <string>uni0445.fwid</string>
    </array>
    <key>public.kern1.L_uni044A</key>
    <array>
      <string>uni044A.fwid</string>
      <string>uni044C.fwid</string>
    </array>
    <key>public.kern1.L_upsilon</key>
    <array>
      <string>uni03C5</string>
      <string>uni03C5.fwid</string>
    </array>
    <key>public.kern1.L_v</key>
    <array>
      <string>uni0076</string>
    </array>
    <key>public.kern1.L_ve-cy</key>
    <array>
      <string>uni0432</string>
      <string>uni0437</string>
    </array>
    <key>public.kern1.L_w</key>
    <array>
      <string>uni0077</string>
    </array>
    <key>public.kern1.L_wasmall-kata</key>
    <array>
      <string>uni30A1</string>
      <string>uni30A5</string>
      <string>uni30C3</string>
      <string>uni30E3</string>
      <string>uni30EE</string>
    </array>
    <key>public.kern1.L_x</key>
    <array>
      <string>uni0078</string>
    </array>
    <key>public.kern1.L_xi</key>
    <array>
      <string>uni03BE</string>
      <string>uni03BE.fwid</string>
    </array>
    <key>public.kern1.L_y</key>
    <array>
      <string>uni0079</string>
    </array>
    <key>public.kern1.L_yosmall-hira</key>
    <array>
      <string>uni3047</string>
    </array>
    <key>public.kern1.L_z</key>
    <array>
      <string>uni007A</string>
    </array>
    <key>public.kern1.L_zeta</key>
    <array>
      <string>uni03B6</string>
      <string>uni03B6.fwid</string>
    </array>
    <key>public.kern1.L_zhe-cy</key>
    <array>
      <string>uni0436</string>
      <string>uni043A</string>
    </array>
    <key>public.kern1.L_zi-kata</key>
    <array>
      <string>uni30B8</string>
      <string>uni30BE</string>
      <string>uni30C5</string>
    </array>
    <key>public.kern2.R_A</key>
    <array>
      <string>uni0041</string>
    </array>
    <key>public.kern2.R_A-cy</key>
    <array>
      <string>uni0410</string>
    </array>
    <key>public.kern2.R_C</key>
    <array>
      <string>uni0043</string>
      <string>uni0047</string>
      <string>uni004F</string>
      <string>uni0051</string>
      <string>uni039F</string>
    </array>
    <key>public.kern2.R_Che-cy</key>
    <array>
      <string>uni0427</string>
    </array>
    <key>public.kern2.R_Chi</key>
    <array>
      <string>uni03A7.fwid</string>
    </array>
    <key>public.kern2.R_De-cy</key>
    <array>
      <string>uni0414</string>
    </array>
    <key>public.kern2.R_Delta</key>
    <array>
      <string>uni0391.fwid</string>
      <string>uni0394.fwid</string>
      <string>uni039B.fwid</string>
    </array>
    <key>public.kern2.R_Ef-cy</key>
    <array>
      <string>uni0424</string>
    </array>
    <key>public.kern2.R_El-cy</key>
    <array>
      <string>uni041B</string>
    </array>
    <key>public.kern2.R_Ereversed-cy</key>
    <array>
      <string>uni042D</string>
    </array>
    <key>public.kern2.R_Ha-cy</key>
    <array>
      <string>uni0425</string>
    </array>
    <key>public.kern2.R_Hardsign-cy</key>
    <array>
      <string>uni042A</string>
    </array>
    <key>public.kern2.R_I</key>
    <array>
      <string>uni0049</string>
      <string>uni0399</string>
    </array>
    <key>public.kern2.R_Ia-cy</key>
    <array>
      <string>uni042F</string>
    </array>
    <key>public.kern2.R_Iota</key>
    <array>
      <string>uni0399.fwid</string>
    </array>
    <key>public.kern2.R_J</key>
    <array>
      <string>uni004A</string>
    </array>
    <key>public.kern2.R_O-cy</key>
    <array>
      <string>uni041E</string>
      <string>uni0421</string>
    </array>
    <key>public.kern2.R_Ohm</key>
    <array>
      <string>uni03A9</string>
    </array>
    <key>public.kern2.R_Omega</key>
    <array>
      <string>uni03A9.fwid</string>
    </array>
    <key>public.kern2.R_Phi</key>
    <array>
      <string>uni03A6</string>
      <string>uni03A6.fwid</string>
    </array>
    <key>public.kern2.R_Psi</key>
    <array>
      <string>uni03A8</string>
      <string>uni03A8.fwid</string>
    </array>
    <key>public.kern2.R_S</key>
    <array>
      <string>uni0053</string>
    </array>
    <key>public.kern2.R_Sigma</key>
    <array>
      <string>uni03A3</string>
      <string>uni03A3.fwid</string>
    </array>
    <key>public.kern2.R_T</key>
    <array>
      <string>uni0054</string>
      <string>uni03A4</string>
    </array>
    <key>public.kern2.R_Tau</key>
    <array>
      <string>uni03A4.fwid</string>
    </array>
    <key>public.kern2.R_Te-cy</key>
    <array>
      <string>uni0422</string>
    </array>
    <key>public.kern2.R_Theta</key>
    <array>
      <string>uni0398</string>
      <string>uni0398.fwid</string>
      <string>uni039F.fwid</string>
    </array>
    <key>public.kern2.R_U</key>
    <array>
      <string>uni0055</string>
    </array>
    <key>public.kern2.R_U-cy</key>
    <array>
      <string>uni0423</string>
    </array>
    <key>public.kern2.R_Upsilon</key>
    <array>
      <string>uni03A5.fwid</string>
    </array>
    <key>public.kern2.R_V</key>
    <array>
      <string>uni0056</string>
    </array>
    <key>public.kern2.R_W</key>
    <array>
      <string>uni0057</string>
    </array>
    <key>public.kern2.R_X</key>
    <array>
      <string>uni0058</string>
      <string>uni03A7</string>
    </array>
    <key>public.kern2.R_Xi</key>
    <array>
      <string>uni039E</string>
      <string>uni039E.fwid</string>
    </array>
    <key>public.kern2.R_Y</key>
    <array>
      <string>uni0059</string>
      <string>uni03A5</string>
    </array>
    <key>public.kern2.R_Z</key>
    <array>
      <string>uni005A</string>
      <string>uni0396</string>
    </array>
    <key>public.kern2.R_Ze-cy</key>
    <array>
      <string>uni0417</string>
    </array>
    <key>public.kern2.R_Zeta</key>
    <array>
      <string>uni0396.fwid</string>
    </array>
    <key>public.kern2.R_Zhe-cy</key>
    <array>
      <string>uni0416</string>
    </array>
    <key>public.kern2.R_a</key>
    <array>
      <string>uni0061</string>
      <string>uni00E0</string>
      <string>uni00E1</string>
      <string>uni0101</string>
      <string>uni01CE</string>
    </array>
    <key>public.kern2.R_a-cy</key>
    <array>
      <string>uni0430</string>
    </array>
    <key>public.kern2.R_a-hira</key>
    <array>
      <string>uni3042</string>
      <string>uni304A</string>
      <string>uni3055</string>
      <string>uni3056</string>
    </array>
    <key>public.kern2.R_a.alt01</key>
    <array>
      <string>uni0061.alt01</string>
      <string>uni0251</string>
      <string>uni0261</string>
    </array>
    <key>public.kern2.R_alpha</key>
    <array>
      <string>uni03B1</string>
      <string>uni03B1.fwid</string>
    </array>
    <key>public.kern2.R_ampersand</key>
    <array>
      <string>uni0026</string>
    </array>
    <key>public.kern2.R_asmall-hira</key>
    <array>
      <string>uni3041</string>
      <string>uni3043</string>
      <string>uni3045</string>
      <string>uni3049</string>
      <string>uni3063</string>
      <string>uni3085</string>
      <string>uni308E</string>
      <string>uni3096</string>
    </array>
    <key>public.kern2.R_at</key>
    <array>
      <string>uni0040</string>
    </array>
    <key>public.kern2.R_b</key>
    <array>
      <string>uni0062</string>
      <string>uni0068</string>
      <string>uni006B</string>
    </array>
    <key>public.kern2.R_be-cy</key>
    <array>
      <string>uni0431</string>
    </array>
    <key>public.kern2.R_beta</key>
    <array>
      <string>uni03B2</string>
      <string>uni03B2.fwid</string>
    </array>
    <key>public.kern2.R_bracketright</key>
    <array>
      <string>uni005D</string>
      <string>uni007D</string>
    </array>
    <key>public.kern2.R_c</key>
    <array>
      <string>uni0063</string>
      <string>uni0065</string>
      <string>uni006F</string>
      <string>uni00E8</string>
      <string>uni00E9</string>
      <string>uni00EA</string>
      <string>uni00F2</string>
      <string>uni0113</string>
      <string>uni011B</string>
      <string>uni014D</string>
      <string>uni01D2</string>
    </array>
    <key>public.kern2.R_che-cy</key>
    <array>
      <string>uni0447</string>
    </array>
    <key>public.kern2.R_chi</key>
    <array>
      <string>uni03C7</string>
      <string>uni03C7.fwid</string>
    </array>
    <key>public.kern2.R_colon</key>
    <array>
      <string>uni003A</string>
      <string>uni003B</string>
    </array>
    <key>public.kern2.R_comma</key>
    <array>
      <string>uni2026</string>
    </array>
    <key>public.kern2.R_copyright</key>
    <array>
      <string>uni00A9</string>
    </array>
    <key>public.kern2.R_d</key>
    <array>
      <string>uni0064</string>
      <string>uni0071</string>
    </array>
    <key>public.kern2.R_de-cy</key>
    <array>
      <string>uni0434</string>
    </array>
    <key>public.kern2.R_delta</key>
    <array>
      <string>uni03B4</string>
      <string>uni03B4.fwid</string>
    </array>
    <key>public.kern2.R_e-kata</key>
    <array>
      <string>uni30A8</string>
      <string>uni30F1</string>
      <string>uni30F9</string>
    </array>
    <key>public.kern2.R_ef-cy</key>
    <array>
      <string>uni0444</string>
    </array>
    <key>public.kern2.R_el-cy</key>
    <array>
      <string>uni043B</string>
    </array>
    <key>public.kern2.R_epsilon</key>
    <array>
      <string>uni03B5</string>
      <string>uni03B5.fwid</string>
    </array>
    <key>public.kern2.R_er-cy</key>
    <array>
      <string>uni0440</string>
    </array>
    <key>public.kern2.R_ereversed-cy</key>
    <array>
      <string>uni044D</string>
    </array>
    <key>public.kern2.R_eta</key>
    <array>
      <string>uni03B7</string>
      <string>uni03B7.fwid</string>
    </array>
    <key>public.kern2.R_exclam</key>
    <array>
      <string>uni0021</string>
    </array>
    <key>public.kern2.R_f</key>
    <array>
      <string>uni0066</string>
    </array>
    <key>public.kern2.R_g</key>
    <array>
      <string>uni0067</string>
    </array>
    <key>public.kern2.R_gamma</key>
    <array>
      <string>uni03B3</string>
      <string>uni03B3.fwid</string>
      <string>uni03BD</string>
      <string>uni03BD.fwid</string>
    </array>
    <key>public.kern2.R_ha-cy</key>
    <array>
      <string>uni0445</string>
    </array>
    <key>public.kern2.R_ha-kata</key>
    <array>
      <string>uni30CF</string>
      <string>uni30D0</string>
      <string>uni30D1</string>
      <string>uni30EB</string>
    </array>
    <key>public.kern2.R_hardsign-cy</key>
    <array>
      <string>uni044A</string>
    </array>
    <key>public.kern2.R_he-hira</key>
    <array>
      <string>uni3078</string>
      <string>uni3079</string>
      <string>uni307A</string>
    </array>
    <key>public.kern2.R_he-kata</key>
    <array>
      <string>uni30D8</string>
      <string>uni30D9</string>
      <string>uni30DA</string>
    </array>
    <key>public.kern2.R_hi-hira</key>
    <array>
      <string>uni3072</string>
      <string>uni3073</string>
      <string>uni3074</string>
    </array>
    <key>public.kern2.R_ho-kata</key>
    <array>
      <string>uni30DB</string>
      <string>uni30DC</string>
      <string>uni30DD</string>
    </array>
    <key>public.kern2.R_hu-hira</key>
    <array>
      <string>uni3075</string>
      <string>uni3076</string>
      <string>uni3077</string>
    </array>
    <key>public.kern2.R_hu-kata</key>
    <array>
      <string>uni30D5</string>
      <string>uni30D6</string>
      <string>uni30D7</string>
    </array>
    <key>public.kern2.R_hyphen</key>
    <array>
      <string>uni002D</string>
      <string>uni2013</string>
    </array>
    <key>public.kern2.R_i</key>
    <array>
      <string>uni0069</string>
      <string>uni00EC</string>
      <string>uni00ED</string>
      <string>uni012B</string>
      <string>uni01D0</string>
    </array>
    <key>public.kern2.R_ia-cy</key>
    <array>
      <string>uni044F</string>
    </array>
    <key>public.kern2.R_ie-cy</key>
    <array>
      <string>uni0435</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0451</string>
    </array>
    <key>public.kern2.R_increment</key>
    <array>
      <string>uni0391</string>
      <string>uni0394</string>
      <string>uni039B</string>
    </array>
    <key>public.kern2.R_iota</key>
    <array>
      <string>uni03B9</string>
      <string>uni03B9.fwid</string>
    </array>
    <key>public.kern2.R_iteration-kata</key>
    <array>
      <string>uni30FD</string>
      <string>uni30FE</string>
    </array>
    <key>public.kern2.R_j</key>
    <array>
      <string>uni006A</string>
    </array>
    <key>public.kern2.R_ka-kata</key>
    <array>
      <string>uni30AB</string>
      <string>uni30AC</string>
    </array>
    <key>public.kern2.R_ki-hira</key>
    <array>
      <string>uni304D</string>
      <string>uni304E</string>
      <string>uni307E</string>
    </array>
    <key>public.kern2.R_ki-kata</key>
    <array>
      <string>uni30AD</string>
      <string>uni30AE</string>
    </array>
    <key>public.kern2.R_ko-hira</key>
    <array>
      <string>uni3053</string>
      <string>uni3054</string>
    </array>
    <key>public.kern2.R_ku-hira</key>
    <array>
      <string>uni304F</string>
      <string>uni3050</string>
    </array>
    <key>public.kern2.R_ku-kata</key>
    <array>
      <string>uni30AF</string>
      <string>uni30B0</string>
      <string>uni30B1</string>
      <string>uni30B2</string>
      <string>uni30BF</string>
      <string>uni30C0</string>
    </array>
    <key>public.kern2.R_l</key>
    <array>
      <string>uni006C</string>
    </array>
    <key>public.kern2.R_lambda</key>
    <array>
      <string>uni03BB</string>
      <string>uni03BB.fwid</string>
    </array>
    <key>public.kern2.R_m</key>
    <array>
      <string>uni006D</string>
      <string>uni006E</string>
      <string>uni0072</string>
      <string>uni0144</string>
      <string>uni0148</string>
      <string>uni01F9</string>
      <string>uni1E3F</string>
    </array>
    <key>public.kern2.R_mi-hira</key>
    <array>
      <string>uni307F</string>
      <string>uni3090</string>
    </array>
    <key>public.kern2.R_micro</key>
    <array>
      <string>uni03BA</string>
      <string>uni03BC</string>
    </array>
    <key>public.kern2.R_mo-hira</key>
    <array>
      <string>uni3082</string>
    </array>
    <key>public.kern2.R_mu</key>
    <array>
      <string>uni03BA.fwid</string>
      <string>uni03BC.fwid</string>
    </array>
    <key>public.kern2.R_ne-hira</key>
    <array>
      <string>uni306D</string>
      <string>uni308C</string>
      <string>uni308F</string>
    </array>
    <key>public.kern2.R_ni-hira</key>
    <array>
      <string>uni3044</string>
      <string>uni3051</string>
      <string>uni3052</string>
      <string>uni3057</string>
      <string>uni3058</string>
      <string>uni306B</string>
      <string>uni306F</string>
      <string>uni3070</string>
      <string>uni3071</string>
      <string>uni307B</string>
      <string>uni307C</string>
      <string>uni307D</string>
      <string>uni3080</string>
      <string>uni3086</string>
      <string>uni3089</string>
      <string>uni308A</string>
    </array>
    <key>public.kern2.R_ni-kata</key>
    <array>
      <string>uni30B3</string>
      <string>uni30B4</string>
      <string>uni30CB</string>
      <string>uni30E6</string>
    </array>
    <key>public.kern2.R_no-hira</key>
    <array>
      <string>uni306C</string>
      <string>uni306E</string>
      <string>uni3081</string>
    </array>
    <key>public.kern2.R_o</key>
    <array>
      <string>uni00F3</string>
    </array>
    <key>public.kern2.R_o-kata</key>
    <array>
      <string>uni30AA</string>
      <string>uni30CC</string>
      <string>uni30CD</string>
    </array>
    <key>public.kern2.R_omega</key>
    <array>
      <string>uni03C9</string>
      <string>uni03C9.fwid</string>
    </array>
    <key>public.kern2.R_omicron</key>
    <array>
      <string>uni03BF</string>
      <string>uni03BF.fwid</string>
      <string>uni03C3</string>
      <string>uni03C3.fwid</string>
    </array>
    <key>public.kern2.R_p</key>
    <array>
      <string>uni0070</string>
    </array>
    <key>public.kern2.R_parenright</key>
    <array>
      <string>uni0029</string>
    </array>
    <key>public.kern2.R_period</key>
    <array>
      <string>uni002C</string>
      <string>uni002C.hwid</string>
      <string>uni002E</string>
      <string>uni002E.hwid</string>
    </array>
    <key>public.kern2.R_period-han</key>
    <array>
      <string>uni3001</string>
      <string>uni3002</string>
    </array>
    <key>public.kern2.R_phi</key>
    <array>
      <string>uni03C6</string>
      <string>uni03C6.fwid</string>
    </array>
    <key>public.kern2.R_pi</key>
    <array>
      <string>uni03C0</string>
      <string>uni03C0.fwid</string>
    </array>
    <key>public.kern2.R_psi</key>
    <array>
      <string>uni03C8</string>
      <string>uni03C8.fwid</string>
    </array>
    <key>public.kern2.R_question</key>
    <array>
      <string>uni003F</string>
    </array>
    <key>public.kern2.R_quoteright</key>
    <array>
      <string>uni201D.latn</string>
    </array>
    <key>public.kern2.R_quotesingle</key>
    <array>
      <string>uni0022</string>
      <string>uni0027</string>
      <string>uni002A</string>
    </array>
    <key>public.kern2.R_registered</key>
    <array>
      <string>uni00AE</string>
    </array>
    <key>public.kern2.R_rho</key>
    <array>
      <string>uni03C1</string>
      <string>uni03C1.fwid</string>
    </array>
    <key>public.kern2.R_ro-kata</key>
    <array>
      <string>uni30C8</string>
      <string>uni30C9</string>
      <string>uni30D2</string>
      <string>uni30D3</string>
      <string>uni30D4</string>
      <string>uni30EC</string>
    </array>
    <key>public.kern2.R_ru-hira</key>
    <array>
      <string>uni308B</string>
      <string>uni308D</string>
    </array>
    <key>public.kern2.R_s</key>
    <array>
      <string>uni0073</string>
    </array>
    <key>public.kern2.R_sa-kata</key>
    <array>
      <string>uni30B5</string>
      <string>uni30B6</string>
    </array>
    <key>public.kern2.R_se-hira</key>
    <array>
      <string>uni305B</string>
      <string>uni305C</string>
    </array>
    <key>public.kern2.R_si-kata</key>
    <array>
      <string>uni30B7</string>
      <string>uni30B8</string>
    </array>
    <key>public.kern2.R_slash</key>
    <array>
      <string>uni002F</string>
    </array>
    <key>public.kern2.R_so-hira</key>
    <array>
      <string>uni305D</string>
      <string>uni305E</string>
    </array>
    <key>public.kern2.R_so-kata</key>
    <array>
      <string>uni30BD</string>
      <string>uni30BE</string>
      <string>uni30C4</string>
      <string>uni30C5</string>
    </array>
    <key>public.kern2.R_su-hira</key>
    <array>
      <string>uni3059</string>
      <string>uni305A</string>
    </array>
    <key>public.kern2.R_su-kata</key>
    <array>
      <string>uni30B9</string>
      <string>uni30BA</string>
    </array>
    <key>public.kern2.R_t</key>
    <array>
      <string>uni0074</string>
    </array>
    <key>public.kern2.R_ta-hira</key>
    <array>
      <string>uni304B</string>
      <string>uni304C</string>
      <string>uni305F</string>
      <string>uni3060</string>
      <string>uni3061</string>
      <string>uni3062</string>
      <string>uni306A</string>
    </array>
    <key>public.kern2.R_tau</key>
    <array>
      <string>uni03C4</string>
      <string>uni03C4.fwid</string>
    </array>
    <key>public.kern2.R_te-cy</key>
    <array>
      <string>uni0442</string>
    </array>
    <key>public.kern2.R_te-hira</key>
    <array>
      <string>uni3066</string>
      <string>uni3067</string>
    </array>
    <key>public.kern2.R_te-kata</key>
    <array>
      <string>uni30C1</string>
      <string>uni30C2</string>
      <string>uni30C6</string>
      <string>uni30C7</string>
      <string>uni30E9</string>
      <string>uni30F2</string>
      <string>uni30FA</string>
    </array>
    <key>public.kern2.R_theta</key>
    <array>
      <string>uni03B8</string>
      <string>uni03B8.fwid</string>
    </array>
    <key>public.kern2.R_to-hira</key>
    <array>
      <string>uni3068</string>
      <string>uni3069</string>
    </array>
    <key>public.kern2.R_trademark</key>
    <array>
      <string>uni2122</string>
    </array>
    <key>public.kern2.R_tu-hira</key>
    <array>
      <string>uni3064</string>
      <string>uni3065</string>
    </array>
    <key>public.kern2.R_tusmall-kata</key>
    <array>
      <string>uni30A5</string>
      <string>uni30C3</string>
      <string>uni30EE</string>
    </array>
    <key>public.kern2.R_u</key>
    <array>
      <string>uni0075</string>
      <string>uni00F9</string>
      <string>uni00FA</string>
      <string>uni00FC</string>
      <string>uni016B</string>
      <string>uni01D4</string>
      <string>uni01D6</string>
      <string>uni01D8</string>
      <string>uni01DA</string>
      <string>uni01DC</string>
    </array>
    <key>public.kern2.R_u-cy</key>
    <array>
      <string>uni0443</string>
    </array>
    <key>public.kern2.R_u-hira</key>
    <array>
      <string>uni3046</string>
      <string>uni3094</string>
    </array>
    <key>public.kern2.R_u-kata</key>
    <array>
      <string>uni30A6</string>
      <string>uni30EF</string>
      <string>uni30F4</string>
    </array>
    <key>public.kern2.R_underscore</key>
    <array>
      <string>uni005F</string>
    </array>
    <key>public.kern2.R_upsilon</key>
    <array>
      <string>uni03C5</string>
      <string>uni03C5.fwid</string>
    </array>
    <key>public.kern2.R_v</key>
    <array>
      <string>uni0076</string>
    </array>
    <key>public.kern2.R_ve-cy</key>
    <array>
      <string>uni0432</string>
      <string>uni0433</string>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni043A</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0446</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044B</string>
      <string>uni044C</string>
      <string>uni044E</string>
    </array>
    <key>public.kern2.R_w</key>
    <array>
      <string>uni0077</string>
    </array>
    <key>public.kern2.R_wi-kata</key>
    <array>
      <string>uni30F0</string>
      <string>uni30F8</string>
    </array>
    <key>public.kern2.R_x</key>
    <array>
      <string>uni0078</string>
    </array>
    <key>public.kern2.R_xi</key>
    <array>
      <string>uni03BE</string>
      <string>uni03BE.fwid</string>
    </array>
    <key>public.kern2.R_y</key>
    <array>
      <string>uni0079</string>
    </array>
    <key>public.kern2.R_ya-kata</key>
    <array>
      <string>uni30BB</string>
      <string>uni30BC</string>
      <string>uni30E4</string>
    </array>
    <key>public.kern2.R_yusmall-kata</key>
    <array>
      <string>uni30A7</string>
      <string>uni30A9</string>
      <string>uni30E5</string>
      <string>uni30E7</string>
      <string>uni30F5</string>
      <string>uni30F6</string>
    </array>
    <key>public.kern2.R_z</key>
    <array>
      <string>uni007A</string>
    </array>
    <key>public.kern2.R_ze-cy</key>
    <array>
      <string>uni0437</string>
    </array>
    <key>public.kern2.R_zeta</key>
    <array>
      <string>uni03B6</string>
      <string>uni03B6.fwid</string>
    </array>
    <key>public.kern2.R_zhe-cy</key>
    <array>
      <string>uni0436</string>
    </array>
    <key>vhal</key>
    <array>
      <string>uniFE40</string>
      <string>uniFE3C</string>
      <string>uniFE38</string>
      <string>uniFE48</string>
      <string>uniFE42</string>
      <string>uniFE3E</string>
      <string>uniFE3A</string>
      <string>uniFE36</string>
      <string>uniFE44</string>
      <string>uniFE18</string>
    </array>
    <key>vhal_vpal</key>
    <array>
      <string>uniFE3F</string>
      <string>uniFE3B</string>
      <string>uniFE37</string>
      <string>uniFE47</string>
      <string>uniFE41</string>
      <string>uniFE3D</string>
      <string>uniFE39</string>
      <string>uniFE35</string>
      <string>uniFE43</string>
      <string>uniFE17</string>
    </array>
    <key>vpal</key>
    <array>
      <string>uniFE40</string>
      <string>uniFE3C</string>
      <string>uniFE38</string>
      <string>uniFE48</string>
      <string>uniFE42</string>
      <string>uniFE3E</string>
      <string>uniFE3A</string>
      <string>uniFE44</string>
      <string>uniFE18</string>
    </array>
  </dict>
</plist>
