<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>n_right=-450</string>
      <string>glyphs.n_right=-450</string>
    </array>
    <array>
      <string>n_curve_right=100</string>
      <string>glyphs.n_curve_right=100</string>
    </array>
    <array>
      <string>n_curve_up=100</string>
      <string>glyphs.n_curve_up=100</string>
    </array>
    <array>
      <string>n_curve_up=-100</string>
      <string>glyphs.n_curve_up=-100</string>
    </array>
    <array>
      <string>p_left=100</string>
      <string>glyphs.p_left=100</string>
    </array>
    <array>
      <string>p_left=-50</string>
      <string>glyphs.p_left=-50</string>
    </array>
    <array>
      <string>p_down=-50</string>
      <string>glyphs.p_down=-50</string>
    </array>
    <array>
      <string>p_down=100</string>
      <string>glyphs.p_down=100</string>
    </array>
    <array>
      <string>hz_up=100</string>
      <string>glyphs.hz_up=100</string>
    </array>
    <array>
      <string>hz_up=-100</string>
      <string>glyphs.hz_up=-100</string>
    </array>
    <array>
      <string>h_left=-100</string>
      <string>glyphs.h_left=-100</string>
    </array>
    <array>
      <string>d_right=200</string>
      <string>glyphs.d_right=200</string>
    </array>
    <array>
      <string>d_right=-200</string>
      <string>glyphs.d_right=-200</string>
    </array>
    <array>
      <string>d_up=200</string>
      <string>glyphs.d_up=200</string>
    </array>
    <array>
      <string>d_up=-200</string>
      <string>glyphs.d_up=-200</string>
    </array>
    <array>
      <string>h_left=50</string>
      <string>glyphs.h_left=50</string>
    </array>
    <array>
      <string>d_curve_up=100</string>
      <string>glyphs.d_curve_up=100</string>
    </array>
    <array>
      <string>d_curve_up=-100</string>
      <string>glyphs.d_curve_up=-100</string>
    </array>
    <array>
      <string>d_curve_right=100</string>
      <string>glyphs.d_curve_right=100</string>
    </array>
    <array>
      <string>d_curve_right=-100</string>
      <string>glyphs.d_curve_right=-100</string>
    </array>
    <array>
      <string>j_curve_left=100</string>
      <string>glyphs.j_curve_left=100</string>
    </array>
    <array>
      <string>j_curve right=100</string>
      <string>glyphs.j_curve right=100</string>
    </array>
    <array>
      <string>j_curve_left=100,j_curve right=100</string>
      <string>glyphs.j_curve_left=100,j_curve right=100</string>
    </array>
    <array>
      <string>Thin_w100_h20</string>
      <string>glyphs.T_hin_w100_h20</string>
    </array>
    <array>
      <string>Thin_w30_h50</string>
      <string>glyphs.T_hin_w30_h50</string>
    </array>
    <array>
      <string>Thin_w30_h20</string>
      <string>glyphs.T_hin_w30_h20</string>
    </array>
    <array>
      <string>Thin_w100_h50_rleg100</string>
      <string>glyphs.T_hin_w100_h50_rleg100</string>
    </array>
    <array>
      <string>Thin_100_h50_rleg-100</string>
      <string>glyphs.T_hin_100_h50_rleg-100</string>
    </array>
    <array>
      <string>Thin_h0_w100</string>
      <string>glyphs.T_hin_h0_w100</string>
    </array>
    <array>
      <string>Thin_h100_w0</string>
      <string>glyphs.T_hin_h100_w0</string>
    </array>
    <array>
      <string>wdth=0</string>
      <string>glyphs.wdth=0</string>
    </array>
    <array>
      <string>Trad</string>
      <string>glyphs.T_rad</string>
    </array>
  </array>
</plist>
