<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>baseline</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>descender</key>
      <dict>
        <key>position</key>
        <integer>-120</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>super</key>
      <dict>
        <key>position</key>
        <integer>345</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>zone 5</key>
      <dict>
        <key>position</key>
        <integer>-223</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>capHeight</key>
      <dict>
        <key>position</key>
        <integer>733</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>xHeight</key>
      <dict>
        <key>position</key>
        <integer>550</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>B</key>
      <dict>
        <key>position</key>
        <integer>306</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>E</key>
      <dict>
        <key>position</key>
        <integer>304</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>ae</key>
      <dict>
        <key>position</key>
        <integer>238</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>Infer</key>
      <dict>
        <key>position</key>
        <integer>387</integer>
        <key>width</key>
        <integer>7</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>ascender</key>
      <dict>
        <key>position</key>
        <integer>777</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Stem:0</key>
      <dict>
        <key>width</key>
        <integer>87</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>Stem:1</key>
      <dict>
        <key>width</key>
        <integer>134</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>Stem:4</key>
      <dict>
        <key>width</key>
        <integer>121</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>Stem:2</key>
      <dict>
        <key>width</key>
        <integer>148</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>Stem:3</key>
      <dict>
        <key>width</key>
        <integer>152</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>GSOffsetHorizontal</key>
  <real>2</real>
  <key>GSOffsetVertical</key>
  <real>2</real>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>uni0020</string>
    <string>uni0021</string>
    <string>uni0022</string>
    <string>uni0023</string>
    <string>uni0024</string>
    <string>uni0025</string>
    <string>uni0026</string>
    <string>uni0027</string>
    <string>uni0028</string>
    <string>uni0029</string>
    <string>uni002A</string>
    <string>uni002B</string>
    <string>uni002C</string>
    <string>uni002D</string>
    <string>uni002E</string>
    <string>uni002F</string>
    <string>uni0030</string>
    <string>uni0031</string>
    <string>uni0032</string>
    <string>uni0033</string>
    <string>uni0034</string>
    <string>uni0035</string>
    <string>uni0036</string>
    <string>uni0037</string>
    <string>uni0038</string>
    <string>uni0039</string>
    <string>uni003A</string>
    <string>uni003B</string>
    <string>uni003C</string>
    <string>uni003D</string>
    <string>uni003E</string>
    <string>uni003F</string>
    <string>uni0040</string>
    <string>uni0041</string>
    <string>uni0042</string>
    <string>uni0043</string>
    <string>uni0044</string>
    <string>uni0045</string>
    <string>uni0046</string>
    <string>uni0047</string>
    <string>uni0048</string>
    <string>uni0049</string>
    <string>uni004A</string>
    <string>uni004B</string>
    <string>uni004C</string>
    <string>uni004D</string>
    <string>uni004E</string>
    <string>uni004F</string>
    <string>uni0050</string>
    <string>uni0051</string>
    <string>uni0052</string>
    <string>uni0053</string>
    <string>uni0054</string>
    <string>uni0055</string>
    <string>uni0056</string>
    <string>uni0057</string>
    <string>uni0058</string>
    <string>uni0059</string>
    <string>uni005A</string>
    <string>uni005B</string>
    <string>uni005C</string>
    <string>uni005D</string>
    <string>uni005E</string>
    <string>uni005F</string>
    <string>uni0060</string>
    <string>uni0061</string>
    <string>uni0062</string>
    <string>uni0063</string>
    <string>uni0064</string>
    <string>uni0065</string>
    <string>uni0066</string>
    <string>uni0067</string>
    <string>uni0068</string>
    <string>uni0069</string>
    <string>uni006A</string>
    <string>uni006B</string>
    <string>uni006C</string>
    <string>uni006D</string>
    <string>uni006E</string>
    <string>uni006F</string>
    <string>uni0070</string>
    <string>uni0071</string>
    <string>uni0072</string>
    <string>uni0073</string>
    <string>uni0074</string>
    <string>uni0075</string>
    <string>uni0076</string>
    <string>uni0077</string>
    <string>uni0078</string>
    <string>uni0079</string>
    <string>uni007A</string>
    <string>uni007B</string>
    <string>uni007C</string>
    <string>uni007D</string>
    <string>uni007E</string>
    <string>uni00A4</string>
    <string>uni00A5</string>
    <string>uni00A7</string>
    <string>uni00A8</string>
    <string>uni00A9</string>
    <string>uni00AE</string>
    <string>uni00B0</string>
    <string>uni00B1</string>
    <string>uni00B7.hwid</string>
    <string>uni00D7</string>
    <string>uni00E0</string>
    <string>uni00E1</string>
    <string>uni00E8</string>
    <string>uni00E9</string>
    <string>uni00EA</string>
    <string>uni00EC</string>
    <string>uni00ED</string>
    <string>uni00F2</string>
    <string>uni00F3</string>
    <string>uni00F7</string>
    <string>uni00F9</string>
    <string>uni00FA</string>
    <string>uni00FC</string>
    <string>uni0101</string>
    <string>uni0113</string>
    <string>uni011B</string>
    <string>uni012B</string>
    <string>uni0144</string>
    <string>uni0148</string>
    <string>uni014D</string>
    <string>uni016B</string>
    <string>uni01CE</string>
    <string>uni01D0</string>
    <string>uni01D2</string>
    <string>uni01D4</string>
    <string>uni01D6</string>
    <string>uni01D8</string>
    <string>uni01DA</string>
    <string>uni01DC</string>
    <string>uni01F9</string>
    <string>uni0251</string>
    <string>uni0261</string>
    <string>uni02C6</string>
    <string>uni02C7</string>
    <string>uni02C9</string>
    <string>uni02CA</string>
    <string>uni02CB</string>
    <string>uni02D9</string>
    <string>uni02DC</string>
    <string>uni0301</string>
    <string>uni2014</string>
    <string>uni0391</string>
    <string>uni0392</string>
    <string>uni0393</string>
    <string>uni0394</string>
    <string>uni0395</string>
    <string>uni0396</string>
    <string>uni0397</string>
    <string>uni0398</string>
    <string>uni0399</string>
    <string>uni039A</string>
    <string>uni039B</string>
    <string>uni039C</string>
    <string>uni039D</string>
    <string>uni039E</string>
    <string>uni039F</string>
    <string>uni03A0</string>
    <string>uni03A1</string>
    <string>uni03A3</string>
    <string>uni03A4</string>
    <string>uni03A5</string>
    <string>uni03A6</string>
    <string>uni03A7</string>
    <string>uni03A8</string>
    <string>uni03A9</string>
    <string>uni03B1</string>
    <string>uni03B2</string>
    <string>uni03B3</string>
    <string>uni03B4</string>
    <string>uni03B5</string>
    <string>uni03B6</string>
    <string>uni03B7</string>
    <string>uni03B8</string>
    <string>uni03B9</string>
    <string>uni03BA</string>
    <string>uni03BB</string>
    <string>uni03BC</string>
    <string>uni03BD</string>
    <string>uni03BE</string>
    <string>uni03BF</string>
    <string>uni03C0</string>
    <string>uni03C1</string>
    <string>uni03C3</string>
    <string>uni03C4</string>
    <string>uni03C5</string>
    <string>uni03C6</string>
    <string>uni03C7</string>
    <string>uni03C8</string>
    <string>uni03C9</string>
    <string>uni0401</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0451</string>
    <string>uni1E3F</string>
    <string>uni3000</string>
    <string>uni2010</string>
    <string>uni2013</string>
    <string>uni2015</string>
    <string>uni2016</string>
    <string>uni2018</string>
    <string>uni2019</string>
    <string>uni201C</string>
    <string>uni201D</string>
    <string>uni00B7.latn</string>
    <string>uni2025</string>
    <string>uni2026</string>
    <string>uni2030</string>
    <string>uni2032</string>
    <string>uni2033</string>
    <string>uni2035</string>
    <string>uni203B</string>
    <string>uni205D</string>
    <string>euro</string>
    <string>uni2103</string>
    <string>uni2105</string>
    <string>uni2109</string>
    <string>uni2116</string>
    <string>uni2121</string>
    <string>uni2122</string>
    <string>uni2160</string>
    <string>uni2161</string>
    <string>uni2162</string>
    <string>uni2163</string>
    <string>uni2164</string>
    <string>uni2165</string>
    <string>uni2166</string>
    <string>uni2167</string>
    <string>uni2168</string>
    <string>uni2169</string>
    <string>uni216A</string>
    <string>uni216B</string>
    <string>uni2170</string>
    <string>uni2171</string>
    <string>uni2172</string>
    <string>uni2173</string>
    <string>uni2174</string>
    <string>uni2175</string>
    <string>uni2176</string>
    <string>uni2177</string>
    <string>uni2178</string>
    <string>uni2179</string>
    <string>uni2190</string>
    <string>uni2191</string>
    <string>uni2192</string>
    <string>uni2193</string>
    <string>uni2194</string>
    <string>uni2195</string>
    <string>uni2196</string>
    <string>uni2197</string>
    <string>uni2198</string>
    <string>uni2199</string>
    <string>uni21A9</string>
    <string>uni21AA</string>
    <string>uni21B0</string>
    <string>uni21B1</string>
    <string>uni21B2</string>
    <string>uni21B3</string>
    <string>uni21B6</string>
    <string>uni21B7</string>
    <string>uni21BA</string>
    <string>uni21BB</string>
    <string>uni21C4</string>
    <string>uni21C6</string>
    <string>uni2208</string>
    <string>uni220F</string>
    <string>uni2211</string>
    <string>uni2215</string>
    <string>uni221A</string>
    <string>uni221D</string>
    <string>uni221E</string>
    <string>uni221F</string>
    <string>uni2220</string>
    <string>uni2223</string>
    <string>uni2225</string>
    <string>uni2227</string>
    <string>uni2228</string>
    <string>uni2229</string>
    <string>uni222A</string>
    <string>uni222B</string>
    <string>uni222E</string>
    <string>uni2234</string>
    <string>uni2235</string>
    <string>uni2236</string>
    <string>uni2237</string>
    <string>uni223D</string>
    <string>uni2248</string>
    <string>uni224C</string>
    <string>uni2252</string>
    <string>uni2260</string>
    <string>uni2261</string>
    <string>uni2264</string>
    <string>uni2265</string>
    <string>uni2266</string>
    <string>uni2267</string>
    <string>uni226E</string>
    <string>uni226F</string>
    <string>uni2295</string>
    <string>uni2299</string>
    <string>uni22A5</string>
    <string>uni22BF</string>
    <string>uni2312</string>
    <string>uni3008</string>
    <string>uni2460</string>
    <string>uni2461</string>
    <string>uni2462</string>
    <string>uni2463</string>
    <string>uni2464</string>
    <string>uni2465</string>
    <string>uni2466</string>
    <string>uni2467</string>
    <string>uni2468</string>
    <string>uni2469</string>
    <string>uni2474</string>
    <string>uni2475</string>
    <string>uni2476</string>
    <string>uni2477</string>
    <string>uni2478</string>
    <string>uni2479</string>
    <string>uni247A</string>
    <string>uni247B</string>
    <string>uni247C</string>
    <string>uni247D</string>
    <string>uni247E</string>
    <string>uni247F</string>
    <string>uni2480</string>
    <string>uni2481</string>
    <string>uni2482</string>
    <string>uni2483</string>
    <string>uni2484</string>
    <string>uni2485</string>
    <string>uni2486</string>
    <string>uni2487</string>
    <string>uni2488</string>
    <string>uni2489</string>
    <string>uni248A</string>
    <string>uni248B</string>
    <string>uni248C</string>
    <string>uni248D</string>
    <string>uni248E</string>
    <string>uni248F</string>
    <string>uni2490</string>
    <string>uni2491</string>
    <string>uni2492</string>
    <string>uni2493</string>
    <string>uni2494</string>
    <string>uni2495</string>
    <string>uni2496</string>
    <string>uni2497</string>
    <string>uni2498</string>
    <string>uni2499</string>
    <string>uni249A</string>
    <string>uni249B</string>
    <string>uni24C7</string>
    <string>uni2500</string>
    <string>uni2501</string>
    <string>uni2502</string>
    <string>uni2503</string>
    <string>uni2504</string>
    <string>uni2505</string>
    <string>uni2506</string>
    <string>uni2507</string>
    <string>uni2508</string>
    <string>uni2509</string>
    <string>uni250A</string>
    <string>uni250B</string>
    <string>uni250C</string>
    <string>uni250D</string>
    <string>uni250E</string>
    <string>uni250F</string>
    <string>uni2510</string>
    <string>uni2511</string>
    <string>uni2512</string>
    <string>uni2513</string>
    <string>uni2514</string>
    <string>uni2515</string>
    <string>uni2516</string>
    <string>uni2517</string>
    <string>uni2518</string>
    <string>uni2519</string>
    <string>uni251A</string>
    <string>uni251B</string>
    <string>uni251C</string>
    <string>uni251D</string>
    <string>uni251E</string>
    <string>uni251F</string>
    <string>uni2520</string>
    <string>uni2521</string>
    <string>uni2522</string>
    <string>uni2523</string>
    <string>uni2524</string>
    <string>uni2525</string>
    <string>uni2526</string>
    <string>uni2527</string>
    <string>uni2528</string>
    <string>uni2529</string>
    <string>uni252A</string>
    <string>uni252B</string>
    <string>uni252C</string>
    <string>uni252D</string>
    <string>uni252E</string>
    <string>uni252F</string>
    <string>uni2530</string>
    <string>uni2531</string>
    <string>uni2532</string>
    <string>uni2533</string>
    <string>uni2534</string>
    <string>uni2535</string>
    <string>uni2536</string>
    <string>uni2537</string>
    <string>uni2538</string>
    <string>uni2539</string>
    <string>uni253A</string>
    <string>uni253B</string>
    <string>uni253C</string>
    <string>uni253D</string>
    <string>uni253E</string>
    <string>uni253F</string>
    <string>uni2540</string>
    <string>uni2541</string>
    <string>uni2542</string>
    <string>uni2543</string>
    <string>uni2544</string>
    <string>uni2545</string>
    <string>uni2546</string>
    <string>uni2547</string>
    <string>uni2548</string>
    <string>uni2549</string>
    <string>uni254A</string>
    <string>uni254B</string>
    <string>uni2550</string>
    <string>uni2551</string>
    <string>uni2552</string>
    <string>uni2553</string>
    <string>uni2554</string>
    <string>uni2555</string>
    <string>uni2556</string>
    <string>uni2557</string>
    <string>uni2558</string>
    <string>uni2559</string>
    <string>uni255A</string>
    <string>uni255B</string>
    <string>uni255C</string>
    <string>uni255D</string>
    <string>uni255E</string>
    <string>uni255F</string>
    <string>uni2560</string>
    <string>uni2561</string>
    <string>uni2562</string>
    <string>uni2563</string>
    <string>uni2564</string>
    <string>uni2565</string>
    <string>uni2566</string>
    <string>uni2567</string>
    <string>uni2568</string>
    <string>uni2569</string>
    <string>uni256A</string>
    <string>uni256B</string>
    <string>uni256C</string>
    <string>uni256D</string>
    <string>uni256E</string>
    <string>uni256F</string>
    <string>uni2570</string>
    <string>uni2571</string>
    <string>uni2572</string>
    <string>uni2573</string>
    <string>uni2581</string>
    <string>uni2582</string>
    <string>uni2583</string>
    <string>uni2584</string>
    <string>uni2585</string>
    <string>uni2586</string>
    <string>uni2587</string>
    <string>uni2588</string>
    <string>uni2589</string>
    <string>uni258A</string>
    <string>uni258B</string>
    <string>uni258C</string>
    <string>uni258D</string>
    <string>uni258E</string>
    <string>uni258F</string>
    <string>uni2593</string>
    <string>uni2594</string>
    <string>uni2595</string>
    <string>uni25A0</string>
    <string>uni25A1</string>
    <string>uni25B2</string>
    <string>uni25B3</string>
    <string>uni25BC</string>
    <string>uni25BD</string>
    <string>uni25C6</string>
    <string>uni25C7</string>
    <string>uni25CB</string>
    <string>uni25CE</string>
    <string>uni25CF</string>
    <string>uni25E2</string>
    <string>uni25E3</string>
    <string>uni25E4</string>
    <string>uni25E5</string>
    <string>uni2605</string>
    <string>uni2606</string>
    <string>uni2609</string>
    <string>uni2640</string>
    <string>uni2642</string>
    <string>uni2B0E</string>
    <string>uni2B0F</string>
    <string>uni2B10</string>
    <string>uni2B11</string>
    <string>uni2E3A</string>
    <string>uni2FF0</string>
    <string>uni2FF1</string>
    <string>uni2FF2</string>
    <string>uni2FF3</string>
    <string>uni2FF4</string>
    <string>uni2FF5</string>
    <string>uni2FF6</string>
    <string>uni2FF7</string>
    <string>uni2FF8</string>
    <string>uni2FF9</string>
    <string>uni2FFA</string>
    <string>uni2FFB</string>
    <string>uni2FFC</string>
    <string>uni2FFD</string>
    <string>uni2FFE</string>
    <string>uni2FFF</string>
    <string>uni3001</string>
    <string>uni3002</string>
    <string>uni3003</string>
    <string>uni3005</string>
    <string>uni3006</string>
    <string>uni3007</string>
    <string>uni3009</string>
    <string>uni300A</string>
    <string>uni300B</string>
    <string>uni300C</string>
    <string>uni300D</string>
    <string>uni300E</string>
    <string>uni300F</string>
    <string>uni3010</string>
    <string>uni3011</string>
    <string>uni3012</string>
    <string>uni3013</string>
    <string>uni3014</string>
    <string>uni3015</string>
    <string>uni3016</string>
    <string>uni3017</string>
    <string>uniFF5E</string>
    <string>uni301D</string>
    <string>uni301E</string>
    <string>uni3021</string>
    <string>uni3022</string>
    <string>uni3023</string>
    <string>uni3024</string>
    <string>uni3025</string>
    <string>uni3026</string>
    <string>uni3027</string>
    <string>uni3028</string>
    <string>uni3029</string>
    <string>uni3033</string>
    <string>uni3034</string>
    <string>uni3035</string>
    <string>uni3038</string>
    <string>uni3039</string>
    <string>uni303A</string>
    <string>uni303E</string>
    <string>uni303F</string>
    <string>uni3041</string>
    <string>uni3042</string>
    <string>uni3043</string>
    <string>uni3044</string>
    <string>uni3045</string>
    <string>uni3046</string>
    <string>uni3047</string>
    <string>uni3048</string>
    <string>uni3049</string>
    <string>uni304A</string>
    <string>uni304B</string>
    <string>uni304C</string>
    <string>uni304D</string>
    <string>uni304E</string>
    <string>uni304F</string>
    <string>uni3050</string>
    <string>uni3051</string>
    <string>uni3052</string>
    <string>uni3053</string>
    <string>uni3054</string>
    <string>uni3055</string>
    <string>uni3056</string>
    <string>uni3057</string>
    <string>uni3058</string>
    <string>uni3059</string>
    <string>uni305A</string>
    <string>uni305B</string>
    <string>uni305C</string>
    <string>uni305D</string>
    <string>uni305E</string>
    <string>uni305F</string>
    <string>uni3060</string>
    <string>uni3061</string>
    <string>uni3062</string>
    <string>uni3063</string>
    <string>uni3064</string>
    <string>uni3065</string>
    <string>uni3066</string>
    <string>uni3067</string>
    <string>uni3068</string>
    <string>uni3069</string>
    <string>uni306A</string>
    <string>uni306B</string>
    <string>uni306C</string>
    <string>uni306D</string>
    <string>uni306E</string>
    <string>uni306F</string>
    <string>uni3070</string>
    <string>uni3071</string>
    <string>uni3072</string>
    <string>uni3073</string>
    <string>uni3074</string>
    <string>uni3075</string>
    <string>uni3076</string>
    <string>uni3077</string>
    <string>uni3078</string>
    <string>uni3079</string>
    <string>uni307A</string>
    <string>uni307B</string>
    <string>uni307C</string>
    <string>uni307D</string>
    <string>uni307E</string>
    <string>uni307F</string>
    <string>uni3080</string>
    <string>uni3081</string>
    <string>uni3082</string>
    <string>uni3083</string>
    <string>uni3084</string>
    <string>uni3085</string>
    <string>uni3086</string>
    <string>uni3087</string>
    <string>uni3088</string>
    <string>uni3089</string>
    <string>uni308A</string>
    <string>uni308B</string>
    <string>uni308C</string>
    <string>uni308D</string>
    <string>uni308E</string>
    <string>uni308F</string>
    <string>uni3090</string>
    <string>uni3091</string>
    <string>uni3092</string>
    <string>uni3093</string>
    <string>uni3094</string>
    <string>uni3095</string>
    <string>uni3096</string>
    <string>uni309B</string>
    <string>uni309C</string>
    <string>uni309D</string>
    <string>uni309E</string>
    <string>uni30A1</string>
    <string>uni30A2</string>
    <string>uni30A3</string>
    <string>uni30A4</string>
    <string>uni30A5</string>
    <string>uni30A6</string>
    <string>uni30A7</string>
    <string>uni30A8</string>
    <string>uni30A9</string>
    <string>uni30AA</string>
    <string>uni30AB</string>
    <string>uni30AC</string>
    <string>uni30AD</string>
    <string>uni30AE</string>
    <string>uni30AF</string>
    <string>uni30B0</string>
    <string>uni30B1</string>
    <string>uni30B2</string>
    <string>uni30B3</string>
    <string>uni30B4</string>
    <string>uni30B5</string>
    <string>uni30B6</string>
    <string>uni30B7</string>
    <string>uni30B8</string>
    <string>uni30B9</string>
    <string>uni30BA</string>
    <string>uni30BB</string>
    <string>uni30BC</string>
    <string>uni30BD</string>
    <string>uni30BE</string>
    <string>uni30BF</string>
    <string>uni30C0</string>
    <string>uni30C1</string>
    <string>uni30C2</string>
    <string>uni30C3</string>
    <string>uni30C4</string>
    <string>uni30C5</string>
    <string>uni30C6</string>
    <string>uni30C7</string>
    <string>uni30C8</string>
    <string>uni30C9</string>
    <string>uni30CA</string>
    <string>uni30CB</string>
    <string>uni30CC</string>
    <string>uni30CD</string>
    <string>uni30CE</string>
    <string>uni30CF</string>
    <string>uni30D0</string>
    <string>uni30D1</string>
    <string>uni30D2</string>
    <string>uni30D3</string>
    <string>uni30D4</string>
    <string>uni30D5</string>
    <string>uni30D6</string>
    <string>uni30D7</string>
    <string>uni30D8</string>
    <string>uni30D9</string>
    <string>uni30DA</string>
    <string>uni30DB</string>
    <string>uni30DC</string>
    <string>uni30DD</string>
    <string>uni30DE</string>
    <string>uni30DF</string>
    <string>uni30E0</string>
    <string>uni30E1</string>
    <string>uni30E2</string>
    <string>uni30E3</string>
    <string>uni30E4</string>
    <string>uni30E5</string>
    <string>uni30E6</string>
    <string>uni30E7</string>
    <string>uni30E8</string>
    <string>uni30E9</string>
    <string>uni30EA</string>
    <string>uni30EB</string>
    <string>uni30EC</string>
    <string>uni30ED</string>
    <string>uni30EE</string>
    <string>uni30EF</string>
    <string>uni30F0</string>
    <string>uni30F1</string>
    <string>uni30F2</string>
    <string>uni30F3</string>
    <string>uni30F4</string>
    <string>uni30F5</string>
    <string>uni30F6</string>
    <string>uni30F7</string>
    <string>uni30F8</string>
    <string>uni30F9</string>
    <string>uni30FA</string>
    <string>uni00B7.fwid</string>
    <string>uni30FC</string>
    <string>uni30FD</string>
    <string>uni30FE</string>
    <string>uni3105</string>
    <string>uni3106</string>
    <string>uni3107</string>
    <string>uni3108</string>
    <string>uni3109</string>
    <string>uni310A</string>
    <string>uni310B</string>
    <string>uni310C</string>
    <string>uni310D</string>
    <string>uni310E</string>
    <string>uni310F</string>
    <string>uni3110</string>
    <string>uni3111</string>
    <string>uni3112</string>
    <string>uni3113</string>
    <string>uni3114</string>
    <string>uni3115</string>
    <string>uni3116</string>
    <string>uni3117</string>
    <string>uni3118</string>
    <string>uni3119</string>
    <string>uni311A</string>
    <string>uni311B</string>
    <string>uni311C</string>
    <string>uni311D</string>
    <string>uni311E</string>
    <string>uni311F</string>
    <string>uni3120</string>
    <string>uni3121</string>
    <string>uni3122</string>
    <string>uni3123</string>
    <string>uni3124</string>
    <string>uni3125</string>
    <string>uni3126</string>
    <string>uni3127</string>
    <string>uni3128</string>
    <string>uni3129</string>
    <string>uni312A</string>
    <string>uni312B</string>
    <string>uni312C</string>
    <string>uni31A0</string>
    <string>uni31A1</string>
    <string>uni31A2</string>
    <string>uni31A3</string>
    <string>uni31A4</string>
    <string>uni31A5</string>
    <string>uni31A6</string>
    <string>uni31A7</string>
    <string>uni31A8</string>
    <string>uni31A9</string>
    <string>uni31AA</string>
    <string>uni31AB</string>
    <string>uni31AC</string>
    <string>uni31AD</string>
    <string>uni31AE</string>
    <string>uni31AF</string>
    <string>uni31B0</string>
    <string>uni31B1</string>
    <string>uni31B2</string>
    <string>uni31B3</string>
    <string>uni31B4</string>
    <string>uni31B5</string>
    <string>uni31B6</string>
    <string>uni31B7</string>
    <string>uni31EF</string>
    <string>uni3220</string>
    <string>uni3221</string>
    <string>uni3222</string>
    <string>uni3223</string>
    <string>uni3224</string>
    <string>uni3225</string>
    <string>uni3226</string>
    <string>uni3227</string>
    <string>uni3228</string>
    <string>uni3229</string>
    <string>uni3231</string>
    <string>uni32A3</string>
    <string>uni338E</string>
    <string>uni338F</string>
    <string>uni339C</string>
    <string>uni339D</string>
    <string>uni339E</string>
    <string>uni33A1</string>
    <string>uni33C4</string>
    <string>uni33CE</string>
    <string>uni33D1</string>
    <string>uni33D2</string>
    <string>uni33D5</string>
    <string>uniFE10</string>
    <string>uniFE11</string>
    <string>uniFE12</string>
    <string>uniFE13</string>
    <string>uniFE14</string>
    <string>uniFE15</string>
    <string>uniFE16</string>
    <string>uniFE17</string>
    <string>uniFE18</string>
    <string>uniFE19</string>
    <string>uniFE30</string>
    <string>uniFE31</string>
    <string>uniFE33</string>
    <string>uniFE34</string>
    <string>uniFE35</string>
    <string>uniFE36</string>
    <string>uniFE37</string>
    <string>uniFE38</string>
    <string>uniFE39</string>
    <string>uniFE3A</string>
    <string>uniFE3B</string>
    <string>uniFE3C</string>
    <string>uniFE3D</string>
    <string>uniFE3E</string>
    <string>uniFE3F</string>
    <string>uniFE40</string>
    <string>uniFE41</string>
    <string>uniFE42</string>
    <string>uniFE43</string>
    <string>uniFE44</string>
    <string>uniFE47</string>
    <string>uniFE48</string>
    <string>uniFE49</string>
    <string>uniFE4A</string>
    <string>uniFE4B</string>
    <string>uniFE4C</string>
    <string>uniFE4D</string>
    <string>uniFE4E</string>
    <string>uniFE4F</string>
    <string>uniFE50</string>
    <string>uniFE51</string>
    <string>uniFE52</string>
    <string>uniFE54</string>
    <string>uniFE55</string>
    <string>uniFE56</string>
    <string>uniFE57</string>
    <string>uniFE59</string>
    <string>uniFE5A</string>
    <string>uniFE5B</string>
    <string>uniFE5C</string>
    <string>uniFE5D</string>
    <string>uniFE5E</string>
    <string>uniFE5F</string>
    <string>uniFE60</string>
    <string>uniFE61</string>
    <string>uniFE62</string>
    <string>uniFE63</string>
    <string>uniFE64</string>
    <string>uniFE65</string>
    <string>uniFE66</string>
    <string>uniFE68</string>
    <string>uniFE69</string>
    <string>uniFE6A</string>
    <string>uniFE6B</string>
    <string>uniFF01</string>
    <string>uniFF02</string>
    <string>uniFF03</string>
    <string>uniFF04</string>
    <string>uniFF05</string>
    <string>uniFF06</string>
    <string>uniFF07</string>
    <string>uniFF08</string>
    <string>uniFF09</string>
    <string>uniFF0A</string>
    <string>uniFF0B</string>
    <string>uniFF0C</string>
    <string>uniFF0D</string>
    <string>uniFF0E</string>
    <string>uniFF0F</string>
    <string>uniFF10</string>
    <string>uniFF11</string>
    <string>uniFF12</string>
    <string>uniFF13</string>
    <string>uniFF14</string>
    <string>uniFF15</string>
    <string>uniFF16</string>
    <string>uniFF17</string>
    <string>uniFF18</string>
    <string>uniFF19</string>
    <string>uniFF1A</string>
    <string>uniFF1B</string>
    <string>uniFF1C</string>
    <string>uniFF1D</string>
    <string>uniFF1E</string>
    <string>uniFF1F</string>
    <string>uniFF20</string>
    <string>uniFF21</string>
    <string>uniFF22</string>
    <string>uniFF23</string>
    <string>uniFF24</string>
    <string>uniFF25</string>
    <string>uniFF26</string>
    <string>uniFF27</string>
    <string>uniFF28</string>
    <string>uniFF29</string>
    <string>uniFF2A</string>
    <string>uniFF2B</string>
    <string>uniFF2C</string>
    <string>uniFF2D</string>
    <string>uniFF2E</string>
    <string>uniFF2F</string>
    <string>uniFF30</string>
    <string>uniFF31</string>
    <string>uniFF32</string>
    <string>uniFF33</string>
    <string>uniFF34</string>
    <string>uniFF35</string>
    <string>uniFF36</string>
    <string>uniFF37</string>
    <string>uniFF38</string>
    <string>uniFF39</string>
    <string>uniFF3A</string>
    <string>uniFF3B</string>
    <string>uniFF3C</string>
    <string>uniFF3D</string>
    <string>uniFF3E</string>
    <string>uniFF3F</string>
    <string>uniFF40</string>
    <string>uniFF41</string>
    <string>uniFF42</string>
    <string>uniFF43</string>
    <string>uniFF44</string>
    <string>uniFF45</string>
    <string>uniFF46</string>
    <string>uniFF47</string>
    <string>uniFF48</string>
    <string>uniFF49</string>
    <string>uniFF4A</string>
    <string>uniFF4B</string>
    <string>uniFF4C</string>
    <string>uniFF4D</string>
    <string>uniFF4E</string>
    <string>uniFF4F</string>
    <string>uniFF50</string>
    <string>uniFF51</string>
    <string>uniFF52</string>
    <string>uniFF53</string>
    <string>uniFF54</string>
    <string>uniFF55</string>
    <string>uniFF56</string>
    <string>uniFF57</string>
    <string>uniFF58</string>
    <string>uniFF59</string>
    <string>uniFF5A</string>
    <string>uniFF5B</string>
    <string>uniFF5C</string>
    <string>uniFF5D</string>
    <string>uniFFE0</string>
    <string>uniFFE1</string>
    <string>uniFFE2</string>
    <string>uniFFE3</string>
    <string>uniFFE4</string>
    <string>uniFFE5</string>
    <string>kosmall-hira</string>
    <string>kosmall-kata</string>
    <string>uni0021.hwid</string>
    <string>uni0022.hwid</string>
    <string>uni0023.hwid</string>
    <string>uni0024.hwid</string>
    <string>uni0025.hwid</string>
    <string>uni0026.hwid</string>
    <string>uni0027.hwid</string>
    <string>uni0028.hwid</string>
    <string>uni0029.hwid</string>
    <string>uni002A.hwid</string>
    <string>uni002B.hwid</string>
    <string>uni002C.hwid</string>
    <string>uni002D.hwid</string>
    <string>uni002E.hwid</string>
    <string>uni002F.hwid</string>
    <string>uni0030.alt01</string>
    <string>uni0030.alt02</string>
    <string>uni0030.hwid</string>
    <string>uni0031.hwid</string>
    <string>uni0032.hwid</string>
    <string>uni0033.hwid</string>
    <string>uni0034.hwid</string>
    <string>uni0035.hwid</string>
    <string>uni0036.hwid</string>
    <string>uni0037.hwid</string>
    <string>uni0038.hwid</string>
    <string>uni0039.hwid</string>
    <string>uni003A.hwid</string>
    <string>uni003B.hwid</string>
    <string>uni003C.hwid</string>
    <string>uni003D.hwid</string>
    <string>uni003E.hwid</string>
    <string>uni003F.hwid</string>
    <string>uni0040.hwid</string>
    <string>uni0041.hwid</string>
    <string>uni0042.hwid</string>
    <string>uni0043.hwid</string>
    <string>uni0044.hwid</string>
    <string>uni0045.hwid</string>
    <string>uni0046.hwid</string>
    <string>uni0047.hwid</string>
    <string>uni0048.hwid</string>
    <string>uni0049.hwid</string>
    <string>uni004A.hwid</string>
    <string>uni004B.hwid</string>
    <string>uni004C.hwid</string>
    <string>uni004D.hwid</string>
    <string>uni004E.hwid</string>
    <string>uni004F.hwid</string>
    <string>uni0050.hwid</string>
    <string>uni0051.hwid</string>
    <string>uni0052.hwid</string>
    <string>uni0053.hwid</string>
    <string>uni0054.hwid</string>
    <string>uni0055.hwid</string>
    <string>uni0056.hwid</string>
    <string>uni0057.hwid</string>
    <string>uni0058.hwid</string>
    <string>uni0059.hwid</string>
    <string>uni005A.hwid</string>
    <string>uni005B.hwid</string>
    <string>uni005C.hwid</string>
    <string>uni005D.hwid</string>
    <string>uni005E.hwid</string>
    <string>uni005F.hwid</string>
    <string>uni0060.hwid</string>
    <string>uni0061.alt01</string>
    <string>uni0061.hwid</string>
    <string>uni0062.hwid</string>
    <string>uni0063.hwid</string>
    <string>uni0064.hwid</string>
    <string>uni0065.hwid</string>
    <string>uni0066.hwid</string>
    <string>uni0067.hwid</string>
    <string>uni0068.hwid</string>
    <string>uni0069.hwid</string>
    <string>uni006A.hwid</string>
    <string>uni006B.hwid</string>
    <string>uni006C.hwid</string>
    <string>uni006D.hwid</string>
    <string>uni006E.hwid</string>
    <string>uni006F.hwid</string>
    <string>uni0070.hwid</string>
    <string>uni0071.hwid</string>
    <string>uni0072.hwid</string>
    <string>uni0073.hwid</string>
    <string>uni0074.hwid</string>
    <string>uni0075.hwid</string>
    <string>uni0076.hwid</string>
    <string>uni0077.hwid</string>
    <string>uni0078.hwid</string>
    <string>uni0079.hwid</string>
    <string>uni007A.hwid</string>
    <string>uni007B.hwid</string>
    <string>uni007C.hwid</string>
    <string>uni007D.hwid</string>
    <string>uni00A5.hwid</string>
    <string>uni00A8.hwid</string>
    <string>uni00AF.hwid</string>
    <string>uni00B1.fwid</string>
    <string>uni00D7.fwid</string>
    <string>uni00E0.hwid</string>
    <string>uni00E1.hwid</string>
    <string>uni00E8.hwid</string>
    <string>uni00E9.hwid</string>
    <string>uni00EA.hwid</string>
    <string>uni00EC.hwid</string>
    <string>uni00ED.hwid</string>
    <string>uni00F2.hwid</string>
    <string>uni00F3.hwid</string>
    <string>uni00F7.fwid</string>
    <string>uni00F9.hwid</string>
    <string>uni00FA.hwid</string>
    <string>uni00FC.hwid</string>
    <string>uni0101.hwid</string>
    <string>uni0113.hwid</string>
    <string>uni011B.hwid</string>
    <string>uni012B.hwid</string>
    <string>uni0144.hwid</string>
    <string>uni0148.hwid</string>
    <string>uni014D.hwid</string>
    <string>uni016B.hwid</string>
    <string>uni01CE.hwid</string>
    <string>uni01D0.hwid</string>
    <string>uni01D2.hwid</string>
    <string>uni01D4.hwid</string>
    <string>uni01D6.hwid</string>
    <string>uni01D8.hwid</string>
    <string>uni01DA.hwid</string>
    <string>uni01DC.hwid</string>
    <string>uni01F9.hwid</string>
    <string>uni0391.fwid</string>
    <string>uni0392.fwid</string>
    <string>uni0393.fwid</string>
    <string>uni0394.fwid</string>
    <string>uni0395.fwid</string>
    <string>uni0396.fwid</string>
    <string>uni0397.fwid</string>
    <string>uni0398.fwid</string>
    <string>uni0399.fwid</string>
    <string>uni039A.fwid</string>
    <string>uni039B.fwid</string>
    <string>uni039C.fwid</string>
    <string>uni039D.fwid</string>
    <string>uni039E.fwid</string>
    <string>uni039F.fwid</string>
    <string>uni03A0.fwid</string>
    <string>uni03A1.fwid</string>
    <string>uni03A3.fwid</string>
    <string>uni03A4.fwid</string>
    <string>uni03A5.fwid</string>
    <string>uni03A6.fwid</string>
    <string>uni03A7.fwid</string>
    <string>uni03A8.fwid</string>
    <string>uni03A9.fwid</string>
    <string>uni03B1.fwid</string>
    <string>uni03B2.fwid</string>
    <string>uni03B3.fwid</string>
    <string>uni03B4.fwid</string>
    <string>uni03B5.fwid</string>
    <string>uni03B6.fwid</string>
    <string>uni03B7.fwid</string>
    <string>uni03B8.fwid</string>
    <string>uni03B9.fwid</string>
    <string>uni03BA.fwid</string>
    <string>uni03BB.fwid</string>
    <string>uni03BC.fwid</string>
    <string>uni03BD.fwid</string>
    <string>uni03BE.fwid</string>
    <string>uni03BF.fwid</string>
    <string>uni03C0.fwid</string>
    <string>uni03C1.fwid</string>
    <string>uni03C3.fwid</string>
    <string>uni03C4.fwid</string>
    <string>uni03C5.fwid</string>
    <string>uni03C6.fwid</string>
    <string>uni03C7.fwid</string>
    <string>uni03C8.fwid</string>
    <string>uni03C9.fwid</string>
    <string>uni0401.fwid</string>
    <string>uni0410.fwid</string>
    <string>uni0411.fwid</string>
    <string>uni0412.fwid</string>
    <string>uni0413.fwid</string>
    <string>uni0414.fwid</string>
    <string>uni0415.fwid</string>
    <string>uni0416.fwid</string>
    <string>uni0417.fwid</string>
    <string>uni0418.fwid</string>
    <string>uni0419.fwid</string>
    <string>uni041A.fwid</string>
    <string>uni041B.fwid</string>
    <string>uni041C.fwid</string>
    <string>uni041D.fwid</string>
    <string>uni041E.fwid</string>
    <string>uni041F.fwid</string>
    <string>uni0420.fwid</string>
    <string>uni0421.fwid</string>
    <string>uni0422.fwid</string>
    <string>uni0423.fwid</string>
    <string>uni0424.fwid</string>
    <string>uni0425.fwid</string>
    <string>uni0426.fwid</string>
    <string>uni0427.fwid</string>
    <string>uni0428.fwid</string>
    <string>uni0429.fwid</string>
    <string>uni042A.fwid</string>
    <string>uni042B.fwid</string>
    <string>uni042C.fwid</string>
    <string>uni042D.fwid</string>
    <string>uni042E.fwid</string>
    <string>uni042F.fwid</string>
    <string>uni0430.fwid</string>
    <string>uni0431.fwid</string>
    <string>uni0432.fwid</string>
    <string>uni0433.fwid</string>
    <string>uni0434.fwid</string>
    <string>uni0435.fwid</string>
    <string>uni0436.fwid</string>
    <string>uni0437.fwid</string>
    <string>uni0438.fwid</string>
    <string>uni0439.fwid</string>
    <string>uni043A.fwid</string>
    <string>uni043B.fwid</string>
    <string>uni043C.fwid</string>
    <string>uni043D.fwid</string>
    <string>uni043E.fwid</string>
    <string>uni043F.fwid</string>
    <string>uni0440.fwid</string>
    <string>uni0441.fwid</string>
    <string>uni0442.fwid</string>
    <string>uni0443.fwid</string>
    <string>uni0444.fwid</string>
    <string>uni0445.fwid</string>
    <string>uni0446.fwid</string>
    <string>uni0447.fwid</string>
    <string>uni0448.fwid</string>
    <string>uni0449.fwid</string>
    <string>uni044A.fwid</string>
    <string>uni044B.fwid</string>
    <string>uni044C.fwid</string>
    <string>uni044D.fwid</string>
    <string>uni044E.fwid</string>
    <string>uni044F.fwid</string>
    <string>uni0451.fwid</string>
    <string>uni1E3F.hwid</string>
    <string>uni2014.latn</string>
    <string>uni2018.latn</string>
    <string>uni2019.latn</string>
    <string>uni201C.latn</string>
    <string>uni201D.latn</string>
    <string>uni2026.latn</string>
    <string>uni2032.fwid</string>
    <string>uni2033.fwid</string>
    <string>uni20AC.fwid</string>
    <string>uni20AC.hwid</string>
    <string>uni2236.fwid</string>
    <string>uni2248.fwid</string>
    <string>uni2260.fwid</string>
    <string>uni2264.fwid</string>
    <string>uni2265.fwid</string>
    <string>uni3000.hwid</string>
    <string>uni3013.vert</string>
    <string>uni3041.vert</string>
    <string>uni3043.vert</string>
    <string>uni3045.vert</string>
    <string>uni3047.vert</string>
    <string>uni3049.vert</string>
    <string>uni3063.vert</string>
    <string>uni3083.vert</string>
    <string>uni3085.vert</string>
    <string>uni3087.vert</string>
    <string>uni308E.vert</string>
    <string>uni3095.vert</string>
    <string>uni3096.vert</string>
    <string>uni30A1.vert</string>
    <string>uni30A3.vert</string>
    <string>uni30A5.vert</string>
    <string>uni30A7.vert</string>
    <string>uni30A9.vert</string>
    <string>uni30C3.vert</string>
    <string>uni30E3.vert</string>
    <string>uni30E5.vert</string>
    <string>uni30E7.vert</string>
    <string>uni30EE.vert</string>
    <string>uni30F5.vert</string>
    <string>uni30F6.vert</string>
    <string>uni30FC.vert</string>
    <string>uni3127.vert</string>
    <string>uniFF0E.vert</string>
    <string>uniFF1D.vert</string>
    <string>uniFF5E.vert</string>
    <string>kosmall-hira.vert</string>
    <string>kosmall-kata.vert</string>
  </array>
</dict>
</plist>
