<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni2EC0</key>
    <string>uni2E_C_0.glif</string>
    <key>uni6589</key>
    <string>uni6589.glif</string>
  </dict>
</plist>
