<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni0023.hwid</key>
  <string>uni0023.hwid.glif</string>
  <key>uni0025.hwid</key>
  <string>uni0025.hwid.glif</string>
  <key>uni0026.hwid</key>
  <string>uni0026.hwid.glif</string>
  <key>uni0028.hwid</key>
  <string>uni0028.hwid.glif</string>
  <key>uni0029.hwid</key>
  <string>uni0029.hwid.glif</string>
  <key>uni002A.hwid</key>
  <string>uni002A_.hwid.glif</string>
  <key>uni002B.hwid</key>
  <string>uni002B_.hwid.glif</string>
  <key>uni002D.hwid</key>
  <string>uni002D_.hwid.glif</string>
  <key>uni002F.hwid</key>
  <string>uni002F_.hwid.glif</string>
  <key>uni0030.hwid</key>
  <string>uni0030.hwid.glif</string>
  <key>uni0031.hwid</key>
  <string>uni0031.hwid.glif</string>
  <key>uni0032.hwid</key>
  <string>uni0032.hwid.glif</string>
  <key>uni0033.hwid</key>
  <string>uni0033.hwid.glif</string>
  <key>uni0034.hwid</key>
  <string>uni0034.hwid.glif</string>
  <key>uni0035.hwid</key>
  <string>uni0035.hwid.glif</string>
  <key>uni0036.hwid</key>
  <string>uni0036.hwid.glif</string>
  <key>uni0037.hwid</key>
  <string>uni0037.hwid.glif</string>
  <key>uni0038.hwid</key>
  <string>uni0038.hwid.glif</string>
  <key>uni0039.hwid</key>
  <string>uni0039.hwid.glif</string>
  <key>uni003C.hwid</key>
  <string>uni003C_.hwid.glif</string>
  <key>uni003D.hwid</key>
  <string>uni003D_.hwid.glif</string>
  <key>uni003E.hwid</key>
  <string>uni003E_.hwid.glif</string>
  <key>uni0040.hwid</key>
  <string>uni0040.hwid.glif</string>
  <key>uni0041.hwid</key>
  <string>uni0041.hwid.glif</string>
  <key>uni0042.hwid</key>
  <string>uni0042.hwid.glif</string>
  <key>uni0043.hwid</key>
  <string>uni0043.hwid.glif</string>
  <key>uni0044.hwid</key>
  <string>uni0044.hwid.glif</string>
  <key>uni0045.hwid</key>
  <string>uni0045.hwid.glif</string>
  <key>uni0046.hwid</key>
  <string>uni0046.hwid.glif</string>
  <key>uni0047.hwid</key>
  <string>uni0047.hwid.glif</string>
  <key>uni0048.hwid</key>
  <string>uni0048.hwid.glif</string>
  <key>uni0049.hwid</key>
  <string>uni0049.hwid.glif</string>
  <key>uni004A.hwid</key>
  <string>uni004A_.hwid.glif</string>
  <key>uni004B.hwid</key>
  <string>uni004B_.hwid.glif</string>
  <key>uni004C.hwid</key>
  <string>uni004C_.hwid.glif</string>
  <key>uni004D.hwid</key>
  <string>uni004D_.hwid.glif</string>
  <key>uni004E.hwid</key>
  <string>uni004E_.hwid.glif</string>
  <key>uni004F.hwid</key>
  <string>uni004F_.hwid.glif</string>
  <key>uni0050.hwid</key>
  <string>uni0050.hwid.glif</string>
  <key>uni0051.hwid</key>
  <string>uni0051.hwid.glif</string>
  <key>uni0052.hwid</key>
  <string>uni0052.hwid.glif</string>
  <key>uni0053.hwid</key>
  <string>uni0053.hwid.glif</string>
  <key>uni0054.hwid</key>
  <string>uni0054.hwid.glif</string>
  <key>uni0055.hwid</key>
  <string>uni0055.hwid.glif</string>
  <key>uni0056.hwid</key>
  <string>uni0056.hwid.glif</string>
  <key>uni0057.hwid</key>
  <string>uni0057.hwid.glif</string>
  <key>uni0058.hwid</key>
  <string>uni0058.hwid.glif</string>
  <key>uni0059.hwid</key>
  <string>uni0059.hwid.glif</string>
  <key>uni005A.hwid</key>
  <string>uni005A_.hwid.glif</string>
  <key>uni005B.hwid</key>
  <string>uni005B_.hwid.glif</string>
  <key>uni005C.hwid</key>
  <string>uni005C_.hwid.glif</string>
  <key>uni005D.hwid</key>
  <string>uni005D_.hwid.glif</string>
  <key>uni005F.hwid</key>
  <string>uni005F_.hwid.glif</string>
  <key>uni0061.hwid</key>
  <string>uni0061.hwid.glif</string>
  <key>uni0062.hwid</key>
  <string>uni0062.hwid.glif</string>
  <key>uni0063.hwid</key>
  <string>uni0063.hwid.glif</string>
  <key>uni0064.hwid</key>
  <string>uni0064.hwid.glif</string>
  <key>uni0065.hwid</key>
  <string>uni0065.hwid.glif</string>
  <key>uni0066.hwid</key>
  <string>uni0066.hwid.glif</string>
  <key>uni0067.hwid</key>
  <string>uni0067.hwid.glif</string>
  <key>uni0068.hwid</key>
  <string>uni0068.hwid.glif</string>
  <key>uni0069.hwid</key>
  <string>uni0069.hwid.glif</string>
  <key>uni006A.hwid</key>
  <string>uni006A_.hwid.glif</string>
  <key>uni006B.hwid</key>
  <string>uni006B_.hwid.glif</string>
  <key>uni006C.hwid</key>
  <string>uni006C_.hwid.glif</string>
  <key>uni006D.hwid</key>
  <string>uni006D_.hwid.glif</string>
  <key>uni006E.hwid</key>
  <string>uni006E_.hwid.glif</string>
  <key>uni006F.hwid</key>
  <string>uni006F_.hwid.glif</string>
  <key>uni0070.hwid</key>
  <string>uni0070.hwid.glif</string>
  <key>uni0071.hwid</key>
  <string>uni0071.hwid.glif</string>
  <key>uni0072.hwid</key>
  <string>uni0072.hwid.glif</string>
  <key>uni0073.hwid</key>
  <string>uni0073.hwid.glif</string>
  <key>uni0074.hwid</key>
  <string>uni0074.hwid.glif</string>
  <key>uni0075.hwid</key>
  <string>uni0075.hwid.glif</string>
  <key>uni0076.hwid</key>
  <string>uni0076.hwid.glif</string>
  <key>uni0077.hwid</key>
  <string>uni0077.hwid.glif</string>
  <key>uni0078.hwid</key>
  <string>uni0078.hwid.glif</string>
  <key>uni0079.hwid</key>
  <string>uni0079.hwid.glif</string>
  <key>uni007A.hwid</key>
  <string>uni007A_.hwid.glif</string>
  <key>uni007B.hwid</key>
  <string>uni007B_.hwid.glif</string>
  <key>uni007D.hwid</key>
  <string>uni007D_.hwid.glif</string>
  <key>uni00A5.hwid</key>
  <string>uni00A_5.hwid.glif</string>
  <key>uni00B1.fwid</key>
  <string>uni00B_1.fwid.glif</string>
  <key>uni00D7.fwid</key>
  <string>uni00D_7.fwid.glif</string>
  <key>uni00F7.fwid</key>
  <string>uni00F_7.fwid.glif</string>
  <key>uni0101</key>
  <string>uni0101.glif</string>
  <key>uni0113</key>
  <string>uni0113.glif</string>
  <key>uni011B</key>
  <string>uni011B_.glif</string>
  <key>uni012B</key>
  <string>uni012B_.glif</string>
  <key>uni0144</key>
  <string>uni0144.glif</string>
  <key>uni014D</key>
  <string>uni014D_.glif</string>
  <key>uni016B</key>
  <string>uni016B_.glif</string>
  <key>uni01CE</key>
  <string>uni01C_E_.glif</string>
  <key>uni01D0</key>
  <string>uni01D_0.glif</string>
  <key>uni01D2</key>
  <string>uni01D_2.glif</string>
  <key>uni01D4</key>
  <string>uni01D_4.glif</string>
  <key>uni01D6</key>
  <string>uni01D_6.glif</string>
  <key>uni01D6.hwid</key>
  <string>uni01D_6.hwid.glif</string>
  <key>uni01D8.hwid</key>
  <string>uni01D_8.hwid.glif</string>
  <key>uni01DA</key>
  <string>uni01D_A_.glif</string>
  <key>uni01DA.hwid</key>
  <string>uni01D_A_.hwid.glif</string>
  <key>uni01DC</key>
  <string>uni01D_C_.glif</string>
  <key>uni01DC.hwid</key>
  <string>uni01D_C_.hwid.glif</string>
  <key>uni0251</key>
  <string>uni0251.glif</string>
  <key>uni0391</key>
  <string>uni0391.glif</string>
  <key>uni03B4</key>
  <string>uni03B_4.glif</string>
  <key>uni03B6</key>
  <string>uni03B_6.glif</string>
  <key>uni03BB</key>
  <string>uni03B_B_.glif</string>
  <key>uni03BE</key>
  <string>uni03B_E_.glif</string>
  <key>uni0410</key>
  <string>uni0410.glif</string>
  <key>uni0424</key>
  <string>uni0424.glif</string>
  <key>uni0444</key>
  <string>uni0444.glif</string>
  <key>uni2026.latn</key>
  <string>uni2026.latn.glif</string>
  <key>uni203B</key>
  <string>uni203B_.glif</string>
  <key>uni20AC.fwid</key>
  <string>uni20A_C_.fwid.glif</string>
  <key>uni2116</key>
  <string>uni2116.glif</string>
  <key>uni2160</key>
  <string>uni2160.glif</string>
  <key>uni2161</key>
  <string>uni2161.glif</string>
  <key>uni2162</key>
  <string>uni2162.glif</string>
  <key>uni2163</key>
  <string>uni2163.glif</string>
  <key>uni2164</key>
  <string>uni2164.glif</string>
  <key>uni2165</key>
  <string>uni2165.glif</string>
  <key>uni2166</key>
  <string>uni2166.glif</string>
  <key>uni2167</key>
  <string>uni2167.glif</string>
  <key>uni2168</key>
  <string>uni2168.glif</string>
  <key>uni2169</key>
  <string>uni2169.glif</string>
  <key>uni2190</key>
  <string>uni2190.glif</string>
  <key>uni2191</key>
  <string>uni2191.glif</string>
  <key>uni2192</key>
  <string>uni2192.glif</string>
  <key>uni2193</key>
  <string>uni2193.glif</string>
  <key>uni2196</key>
  <string>uni2196.glif</string>
  <key>uni2197</key>
  <string>uni2197.glif</string>
  <key>uni2198</key>
  <string>uni2198.glif</string>
  <key>uni2199</key>
  <string>uni2199.glif</string>
  <key>uni21A9</key>
  <string>uni21A_9.glif</string>
  <key>uni21AA</key>
  <string>uni21A_A_.glif</string>
  <key>uni21B0</key>
  <string>uni21B_0.glif</string>
  <key>uni21B1</key>
  <string>uni21B_1.glif</string>
  <key>uni21B2</key>
  <string>uni21B_2.glif</string>
  <key>uni21C4</key>
  <string>uni21C_4.glif</string>
  <key>uni222B</key>
  <string>uni222B_.glif</string>
  <key>uni2260</key>
  <string>uni2260.glif</string>
  <key>uni2264</key>
  <string>uni2264.glif</string>
  <key>uni2264.fwid</key>
  <string>uni2264.fwid.glif</string>
  <key>uni2265</key>
  <string>uni2265.glif</string>
  <key>uni2265.fwid</key>
  <string>uni2265.fwid.glif</string>
  <key>uni226F</key>
  <string>uni226F_.glif</string>
  <key>uni2460</key>
  <string>uni2460.glif</string>
  <key>uni2461</key>
  <string>uni2461.glif</string>
  <key>uni2462</key>
  <string>uni2462.glif</string>
  <key>uni2463</key>
  <string>uni2463.glif</string>
  <key>uni2464</key>
  <string>uni2464.glif</string>
  <key>uni2465</key>
  <string>uni2465.glif</string>
  <key>uni2466</key>
  <string>uni2466.glif</string>
  <key>uni2467</key>
  <string>uni2467.glif</string>
  <key>uni2468</key>
  <string>uni2468.glif</string>
  <key>uni2469</key>
  <string>uni2469.glif</string>
  <key>uni2474</key>
  <string>uni2474.glif</string>
  <key>uni2475</key>
  <string>uni2475.glif</string>
  <key>uni2476</key>
  <string>uni2476.glif</string>
  <key>uni2477</key>
  <string>uni2477.glif</string>
  <key>uni2478</key>
  <string>uni2478.glif</string>
  <key>uni2479</key>
  <string>uni2479.glif</string>
  <key>uni247A</key>
  <string>uni247A_.glif</string>
  <key>uni247B</key>
  <string>uni247B_.glif</string>
  <key>uni247C</key>
  <string>uni247C_.glif</string>
  <key>uni247D</key>
  <string>uni247D_.glif</string>
  <key>uni2495</key>
  <string>uni2495.glif</string>
  <key>uni2497</key>
  <string>uni2497.glif</string>
  <key>uni2498</key>
  <string>uni2498.glif</string>
  <key>uni24C7</key>
  <string>uni24C_7.glif</string>
  <key>uni2550</key>
  <string>uni2550.glif</string>
  <key>uni255E</key>
  <string>uni255E_.glif</string>
  <key>uni2561</key>
  <string>uni2561.glif</string>
  <key>uni25A1</key>
  <string>uni25A_1.glif</string>
  <key>uni25B2</key>
  <string>uni25B_2.glif</string>
  <key>uni25B3</key>
  <string>uni25B_3.glif</string>
  <key>uni25C6</key>
  <string>uni25C_6.glif</string>
  <key>uni25C7</key>
  <string>uni25C_7.glif</string>
  <key>uni25CB</key>
  <string>uni25C_B_.glif</string>
  <key>uni25CE</key>
  <string>uni25C_E_.glif</string>
  <key>uni25CF</key>
  <string>uni25C_F_.glif</string>
  <key>uni2605</key>
  <string>uni2605.glif</string>
  <key>uni2606</key>
  <string>uni2606.glif</string>
  <key>uni2B0E</key>
  <string>uni2B_0E_.glif</string>
  <key>uni3007</key>
  <string>uni3007.glif</string>
  <key>uni303E</key>
  <string>uni303E_.glif</string>
  <key>uni3041</key>
  <string>uni3041.glif</string>
  <key>uni3041.vert</key>
  <string>uni3041.vert.glif</string>
  <key>uni3042</key>
  <string>uni3042.glif</string>
  <key>uni3043</key>
  <string>uni3043.glif</string>
  <key>uni3043.vert</key>
  <string>uni3043.vert.glif</string>
  <key>uni3044</key>
  <string>uni3044.glif</string>
  <key>uni3045</key>
  <string>uni3045.glif</string>
  <key>uni3045.vert</key>
  <string>uni3045.vert.glif</string>
  <key>uni3046</key>
  <string>uni3046.glif</string>
  <key>uni3047</key>
  <string>uni3047.glif</string>
  <key>uni3047.vert</key>
  <string>uni3047.vert.glif</string>
  <key>uni3048</key>
  <string>uni3048.glif</string>
  <key>uni3049</key>
  <string>uni3049.glif</string>
  <key>uni3049.vert</key>
  <string>uni3049.vert.glif</string>
  <key>uni304A</key>
  <string>uni304A_.glif</string>
  <key>uni304B</key>
  <string>uni304B_.glif</string>
  <key>uni304C</key>
  <string>uni304C_.glif</string>
  <key>uni304D</key>
  <string>uni304D_.glif</string>
  <key>uni304E</key>
  <string>uni304E_.glif</string>
  <key>uni304F</key>
  <string>uni304F_.glif</string>
  <key>uni3050</key>
  <string>uni3050.glif</string>
  <key>uni3051</key>
  <string>uni3051.glif</string>
  <key>uni3052</key>
  <string>uni3052.glif</string>
  <key>uni3053</key>
  <string>uni3053.glif</string>
  <key>uni3054</key>
  <string>uni3054.glif</string>
  <key>uni3055</key>
  <string>uni3055.glif</string>
  <key>uni3056</key>
  <string>uni3056.glif</string>
  <key>uni3057</key>
  <string>uni3057.glif</string>
  <key>uni3058</key>
  <string>uni3058.glif</string>
  <key>uni3059</key>
  <string>uni3059.glif</string>
  <key>uni305A</key>
  <string>uni305A_.glif</string>
  <key>uni305B</key>
  <string>uni305B_.glif</string>
  <key>uni305C</key>
  <string>uni305C_.glif</string>
  <key>uni305D</key>
  <string>uni305D_.glif</string>
  <key>uni305E</key>
  <string>uni305E_.glif</string>
  <key>uni305F</key>
  <string>uni305F_.glif</string>
  <key>uni3060</key>
  <string>uni3060.glif</string>
  <key>uni3061</key>
  <string>uni3061.glif</string>
  <key>uni3062</key>
  <string>uni3062.glif</string>
  <key>uni3063</key>
  <string>uni3063.glif</string>
  <key>uni3063.vert</key>
  <string>uni3063.vert.glif</string>
  <key>uni3064</key>
  <string>uni3064.glif</string>
  <key>uni3065</key>
  <string>uni3065.glif</string>
  <key>uni3066</key>
  <string>uni3066.glif</string>
  <key>uni3067</key>
  <string>uni3067.glif</string>
  <key>uni3068</key>
  <string>uni3068.glif</string>
  <key>uni3069</key>
  <string>uni3069.glif</string>
  <key>uni306A</key>
  <string>uni306A_.glif</string>
  <key>uni306B</key>
  <string>uni306B_.glif</string>
  <key>uni306C</key>
  <string>uni306C_.glif</string>
  <key>uni306D</key>
  <string>uni306D_.glif</string>
  <key>uni306E</key>
  <string>uni306E_.glif</string>
  <key>uni306F</key>
  <string>uni306F_.glif</string>
  <key>uni3070</key>
  <string>uni3070.glif</string>
  <key>uni3071</key>
  <string>uni3071.glif</string>
  <key>uni3072</key>
  <string>uni3072.glif</string>
  <key>uni3073</key>
  <string>uni3073.glif</string>
  <key>uni3074</key>
  <string>uni3074.glif</string>
  <key>uni3075</key>
  <string>uni3075.glif</string>
  <key>uni3076</key>
  <string>uni3076.glif</string>
  <key>uni3077</key>
  <string>uni3077.glif</string>
  <key>uni3078</key>
  <string>uni3078.glif</string>
  <key>uni3079</key>
  <string>uni3079.glif</string>
  <key>uni307A</key>
  <string>uni307A_.glif</string>
  <key>uni307B</key>
  <string>uni307B_.glif</string>
  <key>uni307C</key>
  <string>uni307C_.glif</string>
  <key>uni307D</key>
  <string>uni307D_.glif</string>
  <key>uni307E</key>
  <string>uni307E_.glif</string>
  <key>uni307F</key>
  <string>uni307F_.glif</string>
  <key>uni3080</key>
  <string>uni3080.glif</string>
  <key>uni3081</key>
  <string>uni3081.glif</string>
  <key>uni3082</key>
  <string>uni3082.glif</string>
  <key>uni3083</key>
  <string>uni3083.glif</string>
  <key>uni3083.vert</key>
  <string>uni3083.vert.glif</string>
  <key>uni3084</key>
  <string>uni3084.glif</string>
  <key>uni3085</key>
  <string>uni3085.glif</string>
  <key>uni3085.vert</key>
  <string>uni3085.vert.glif</string>
  <key>uni3086</key>
  <string>uni3086.glif</string>
  <key>uni3087</key>
  <string>uni3087.glif</string>
  <key>uni3087.vert</key>
  <string>uni3087.vert.glif</string>
  <key>uni3088</key>
  <string>uni3088.glif</string>
  <key>uni3089</key>
  <string>uni3089.glif</string>
  <key>uni308A</key>
  <string>uni308A_.glif</string>
  <key>uni308B</key>
  <string>uni308B_.glif</string>
  <key>uni308C</key>
  <string>uni308C_.glif</string>
  <key>uni308D</key>
  <string>uni308D_.glif</string>
  <key>uni308E</key>
  <string>uni308E_.glif</string>
  <key>uni308E.vert</key>
  <string>uni308E_.vert.glif</string>
  <key>uni308F</key>
  <string>uni308F_.glif</string>
  <key>uni3090</key>
  <string>uni3090.glif</string>
  <key>uni3091</key>
  <string>uni3091.glif</string>
  <key>uni3092</key>
  <string>uni3092.glif</string>
  <key>uni3093</key>
  <string>uni3093.glif</string>
  <key>uni3095</key>
  <string>uni3095.glif</string>
  <key>uni3095.vert</key>
  <string>uni3095.vert.glif</string>
  <key>uni309B</key>
  <string>uni309B_.glif</string>
  <key>uni309C</key>
  <string>uni309C_.glif</string>
  <key>uni30A1</key>
  <string>uni30A_1.glif</string>
  <key>uni30A2</key>
  <string>uni30A_2.glif</string>
  <key>uni30A3</key>
  <string>uni30A_3.glif</string>
  <key>uni30A4</key>
  <string>uni30A_4.glif</string>
  <key>uni30A5</key>
  <string>uni30A_5.glif</string>
  <key>uni30A6</key>
  <string>uni30A_6.glif</string>
  <key>uni30A7</key>
  <string>uni30A_7.glif</string>
  <key>uni30A8</key>
  <string>uni30A_8.glif</string>
  <key>uni30A9</key>
  <string>uni30A_9.glif</string>
  <key>uni30AA</key>
  <string>uni30A_A_.glif</string>
  <key>uni30AB</key>
  <string>uni30A_B_.glif</string>
  <key>uni30AC</key>
  <string>uni30A_C_.glif</string>
  <key>uni30AD</key>
  <string>uni30A_D_.glif</string>
  <key>uni30AE</key>
  <string>uni30A_E_.glif</string>
  <key>uni30AF</key>
  <string>uni30A_F_.glif</string>
  <key>uni30B0</key>
  <string>uni30B_0.glif</string>
  <key>uni30B1</key>
  <string>uni30B_1.glif</string>
  <key>uni30B2</key>
  <string>uni30B_2.glif</string>
  <key>uni30B3</key>
  <string>uni30B_3.glif</string>
  <key>uni30B4</key>
  <string>uni30B_4.glif</string>
  <key>uni30B5</key>
  <string>uni30B_5.glif</string>
  <key>uni30B6</key>
  <string>uni30B_6.glif</string>
  <key>uni30B7</key>
  <string>uni30B_7.glif</string>
  <key>uni30B8</key>
  <string>uni30B_8.glif</string>
  <key>uni30B9</key>
  <string>uni30B_9.glif</string>
  <key>uni30BA</key>
  <string>uni30B_A_.glif</string>
  <key>uni30BB</key>
  <string>uni30B_B_.glif</string>
  <key>uni30BC</key>
  <string>uni30B_C_.glif</string>
  <key>uni30BD</key>
  <string>uni30B_D_.glif</string>
  <key>uni30BE</key>
  <string>uni30B_E_.glif</string>
  <key>uni30BF</key>
  <string>uni30B_F_.glif</string>
  <key>uni30C0</key>
  <string>uni30C_0.glif</string>
  <key>uni30C1</key>
  <string>uni30C_1.glif</string>
  <key>uni30C2</key>
  <string>uni30C_2.glif</string>
  <key>uni30C3</key>
  <string>uni30C_3.glif</string>
  <key>uni30C4</key>
  <string>uni30C_4.glif</string>
  <key>uni30C5</key>
  <string>uni30C_5.glif</string>
  <key>uni30C6</key>
  <string>uni30C_6.glif</string>
  <key>uni30C7</key>
  <string>uni30C_7.glif</string>
  <key>uni30C8</key>
  <string>uni30C_8.glif</string>
  <key>uni30C9</key>
  <string>uni30C_9.glif</string>
  <key>uni30CA</key>
  <string>uni30C_A_.glif</string>
  <key>uni30CB</key>
  <string>uni30C_B_.glif</string>
  <key>uni30CC</key>
  <string>uni30C_C_.glif</string>
  <key>uni30CD</key>
  <string>uni30C_D_.glif</string>
  <key>uni30CE</key>
  <string>uni30C_E_.glif</string>
  <key>uni30CF</key>
  <string>uni30C_F_.glif</string>
  <key>uni30D0</key>
  <string>uni30D_0.glif</string>
  <key>uni30D1</key>
  <string>uni30D_1.glif</string>
  <key>uni30D2</key>
  <string>uni30D_2.glif</string>
  <key>uni30D3</key>
  <string>uni30D_3.glif</string>
  <key>uni30D4</key>
  <string>uni30D_4.glif</string>
  <key>uni30D5</key>
  <string>uni30D_5.glif</string>
  <key>uni30D6</key>
  <string>uni30D_6.glif</string>
  <key>uni30D7</key>
  <string>uni30D_7.glif</string>
  <key>uni30D8</key>
  <string>uni30D_8.glif</string>
  <key>uni30D9</key>
  <string>uni30D_9.glif</string>
  <key>uni30DA</key>
  <string>uni30D_A_.glif</string>
  <key>uni30DB</key>
  <string>uni30D_B_.glif</string>
  <key>uni30DC</key>
  <string>uni30D_C_.glif</string>
  <key>uni30DD</key>
  <string>uni30D_D_.glif</string>
  <key>uni30DE</key>
  <string>uni30D_E_.glif</string>
  <key>uni30DF</key>
  <string>uni30D_F_.glif</string>
  <key>uni30E0</key>
  <string>uni30E_0.glif</string>
  <key>uni30E1</key>
  <string>uni30E_1.glif</string>
  <key>uni30E2</key>
  <string>uni30E_2.glif</string>
  <key>uni30E3</key>
  <string>uni30E_3.glif</string>
  <key>uni30E4</key>
  <string>uni30E_4.glif</string>
  <key>uni30E5</key>
  <string>uni30E_5.glif</string>
  <key>uni30E6</key>
  <string>uni30E_6.glif</string>
  <key>uni30E7</key>
  <string>uni30E_7.glif</string>
  <key>uni30E8</key>
  <string>uni30E_8.glif</string>
  <key>uni30E9</key>
  <string>uni30E_9.glif</string>
  <key>uni30EA</key>
  <string>uni30E_A_.glif</string>
  <key>uni30EB</key>
  <string>uni30E_B_.glif</string>
  <key>uni30EC</key>
  <string>uni30E_C_.glif</string>
  <key>uni30ED</key>
  <string>uni30E_D_.glif</string>
  <key>uni30EE</key>
  <string>uni30E_E_.glif</string>
  <key>uni30EF</key>
  <string>uni30E_F_.glif</string>
  <key>uni30F0</key>
  <string>uni30F_0.glif</string>
  <key>uni30F1</key>
  <string>uni30F_1.glif</string>
  <key>uni30F2</key>
  <string>uni30F_2.glif</string>
  <key>uni30F3</key>
  <string>uni30F_3.glif</string>
  <key>uni30F4</key>
  <string>uni30F_4.glif</string>
  <key>uni30F5</key>
  <string>uni30F_5.glif</string>
  <key>uni30F6</key>
  <string>uni30F_6.glif</string>
  <key>uni3105</key>
  <string>uni3105.glif</string>
  <key>uni3106</key>
  <string>uni3106.glif</string>
  <key>uni3107</key>
  <string>uni3107.glif</string>
  <key>uni3108</key>
  <string>uni3108.glif</string>
  <key>uni3109</key>
  <string>uni3109.glif</string>
  <key>uni310A</key>
  <string>uni310A_.glif</string>
  <key>uni310B</key>
  <string>uni310B_.glif</string>
  <key>uni310C</key>
  <string>uni310C_.glif</string>
  <key>uni310D</key>
  <string>uni310D_.glif</string>
  <key>uni310E</key>
  <string>uni310E_.glif</string>
  <key>uni310F</key>
  <string>uni310F_.glif</string>
  <key>uni3110</key>
  <string>uni3110.glif</string>
  <key>uni3111</key>
  <string>uni3111.glif</string>
  <key>uni3112</key>
  <string>uni3112.glif</string>
  <key>uni3113</key>
  <string>uni3113.glif</string>
  <key>uni3114</key>
  <string>uni3114.glif</string>
  <key>uni3115</key>
  <string>uni3115.glif</string>
  <key>uni3116</key>
  <string>uni3116.glif</string>
  <key>uni3117</key>
  <string>uni3117.glif</string>
  <key>uni3118</key>
  <string>uni3118.glif</string>
  <key>uni3119</key>
  <string>uni3119.glif</string>
  <key>uni311A</key>
  <string>uni311A_.glif</string>
  <key>uni311B</key>
  <string>uni311B_.glif</string>
  <key>uni311C</key>
  <string>uni311C_.glif</string>
  <key>uni311D</key>
  <string>uni311D_.glif</string>
  <key>uni311E</key>
  <string>uni311E_.glif</string>
  <key>uni311F</key>
  <string>uni311F_.glif</string>
  <key>uni3120</key>
  <string>uni3120.glif</string>
  <key>uni3121</key>
  <string>uni3121.glif</string>
  <key>uni3122</key>
  <string>uni3122.glif</string>
  <key>uni3123</key>
  <string>uni3123.glif</string>
  <key>uni3124</key>
  <string>uni3124.glif</string>
  <key>uni3125</key>
  <string>uni3125.glif</string>
  <key>uni3126</key>
  <string>uni3126.glif</string>
  <key>uni3127.vert</key>
  <string>uni3127.vert.glif</string>
  <key>uni3128</key>
  <string>uni3128.glif</string>
  <key>uni3129</key>
  <string>uni3129.glif</string>
  <key>uni31A0</key>
  <string>uni31A_0.glif</string>
  <key>uni31A2</key>
  <string>uni31A_2.glif</string>
  <key>uni31A3</key>
  <string>uni31A_3.glif</string>
  <key>uni31A4</key>
  <string>uni31A_4.glif</string>
  <key>uni31A5</key>
  <string>uni31A_5.glif</string>
  <key>uni31A7</key>
  <string>uni31A_7.glif</string>
  <key>uni31A8</key>
  <string>uni31A_8.glif</string>
  <key>uni31A9</key>
  <string>uni31A_9.glif</string>
  <key>uni31AC</key>
  <string>uni31A_C_.glif</string>
  <key>uni31B1</key>
  <string>uni31B_1.glif</string>
  <key>uni31B3</key>
  <string>uni31B_3.glif</string>
  <key>uni33A1</key>
  <string>uni33A_1.glif</string>
  <key>uniFE39</key>
  <string>uniF_E_39.glif</string>
  <key>uniFF01</key>
  <string>uniF_F_01.glif</string>
  <key>uniFF03</key>
  <string>uniF_F_03.glif</string>
  <key>uniFF05</key>
  <string>uniF_F_05.glif</string>
  <key>uniFF06</key>
  <string>uniF_F_06.glif</string>
  <key>uniFF09</key>
  <string>uniF_F_09.glif</string>
  <key>uniFF0E.vert</key>
  <string>uniF_F_0E_.vert.glif</string>
  <key>uniFF18</key>
  <string>uniF_F_18.glif</string>
  <key>uniFF1A</key>
  <string>uniF_F_1A_.glif</string>
  <key>uniFF1B</key>
  <string>uniF_F_1B_.glif</string>
  <key>uniFF1C</key>
  <string>uniF_F_1C_.glif</string>
  <key>uniFF1D</key>
  <string>uniF_F_1D_.glif</string>
  <key>uniFF1E</key>
  <string>uniF_F_1E_.glif</string>
  <key>uniFF1F</key>
  <string>uniF_F_1F_.glif</string>
  <key>uniFF20</key>
  <string>uniF_F_20.glif</string>
  <key>uniFF21</key>
  <string>uniF_F_21.glif</string>
  <key>uniFF22</key>
  <string>uniF_F_22.glif</string>
  <key>uniFF23</key>
  <string>uniF_F_23.glif</string>
  <key>uniFF24</key>
  <string>uniF_F_24.glif</string>
  <key>uniFF25</key>
  <string>uniF_F_25.glif</string>
  <key>uniFF26</key>
  <string>uniF_F_26.glif</string>
  <key>uniFF27</key>
  <string>uniF_F_27.glif</string>
  <key>uniFF28</key>
  <string>uniF_F_28.glif</string>
  <key>uniFF29</key>
  <string>uniF_F_29.glif</string>
  <key>uniFF2A</key>
  <string>uniF_F_2A_.glif</string>
  <key>uniFF2B</key>
  <string>uniF_F_2B_.glif</string>
  <key>uniFF2C</key>
  <string>uniF_F_2C_.glif</string>
  <key>uniFF2D</key>
  <string>uniF_F_2D_.glif</string>
  <key>uniFF2E</key>
  <string>uniF_F_2E_.glif</string>
  <key>uniFF2F</key>
  <string>uniF_F_2F_.glif</string>
  <key>uniFF30</key>
  <string>uniF_F_30.glif</string>
  <key>uniFF31</key>
  <string>uniF_F_31.glif</string>
  <key>uniFF32</key>
  <string>uniF_F_32.glif</string>
  <key>uniFF33</key>
  <string>uniF_F_33.glif</string>
  <key>uniFF34</key>
  <string>uniF_F_34.glif</string>
  <key>uniFF35</key>
  <string>uniF_F_35.glif</string>
  <key>uniFF36</key>
  <string>uniF_F_36.glif</string>
  <key>uniFF37</key>
  <string>uniF_F_37.glif</string>
  <key>uniFF38</key>
  <string>uniF_F_38.glif</string>
  <key>uniFF39</key>
  <string>uniF_F_39.glif</string>
  <key>uniFF3A</key>
  <string>uniF_F_3A_.glif</string>
  <key>uniFF3B</key>
  <string>uniF_F_3B_.glif</string>
  <key>uniFF3C</key>
  <string>uniF_F_3C_.glif</string>
  <key>uniFF3D</key>
  <string>uniF_F_3D_.glif</string>
  <key>uniFF3F</key>
  <string>uniF_F_3F_.glif</string>
  <key>uniFF41</key>
  <string>uniF_F_41.glif</string>
  <key>uniFF42</key>
  <string>uniF_F_42.glif</string>
  <key>uniFF43</key>
  <string>uniF_F_43.glif</string>
  <key>uniFF44</key>
  <string>uniF_F_44.glif</string>
  <key>uniFF45</key>
  <string>uniF_F_45.glif</string>
  <key>uniFF46</key>
  <string>uniF_F_46.glif</string>
  <key>uniFF47</key>
  <string>uniF_F_47.glif</string>
  <key>uniFF48</key>
  <string>uniF_F_48.glif</string>
  <key>uniFF49</key>
  <string>uniF_F_49.glif</string>
  <key>uniFF4A</key>
  <string>uniF_F_4A_.glif</string>
  <key>uniFF4B</key>
  <string>uniF_F_4B_.glif</string>
  <key>uniFF4C</key>
  <string>uniF_F_4C_.glif</string>
  <key>uniFF4D</key>
  <string>uniF_F_4D_.glif</string>
  <key>uniFF4E</key>
  <string>uniF_F_4E_.glif</string>
  <key>uniFF4F</key>
  <string>uniF_F_4F_.glif</string>
  <key>uniFF50</key>
  <string>uniF_F_50.glif</string>
  <key>uniFF51</key>
  <string>uniF_F_51.glif</string>
  <key>uniFF52</key>
  <string>uniF_F_52.glif</string>
  <key>uniFF53</key>
  <string>uniF_F_53.glif</string>
  <key>uniFF54</key>
  <string>uniF_F_54.glif</string>
  <key>uniFF55</key>
  <string>uniF_F_55.glif</string>
  <key>uniFF56</key>
  <string>uniF_F_56.glif</string>
  <key>uniFF57</key>
  <string>uniF_F_57.glif</string>
  <key>uniFF58</key>
  <string>uniF_F_58.glif</string>
  <key>uniFF59</key>
  <string>uniF_F_59.glif</string>
  <key>uniFF5A</key>
  <string>uniF_F_5A_.glif</string>
  <key>uniFF5B</key>
  <string>uniF_F_5B_.glif</string>
  <key>uniFF5C</key>
  <string>uniF_F_5C_.glif</string>
  <key>uniFF5D</key>
  <string>uniF_F_5D_.glif</string>
  <key>uniFFE3</key>
  <string>uniF_F_E_3.glif</string>
  <key>uniFFE5</key>
  <string>uniF_F_E_5.glif</string>
</dict>
</plist>
